<div class="page-wrapper">
  <h1 class="title">
    <%= @event.new_record? ? "Criar novo evento" : "Atualizar evento" %>
  </h1>

  <%= simple_form_for([:partner_admin, @event]) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :name %>
      </div>
      <div class="col-md-8">
        <%= f.rich_text_area :description, placeholder: "Descrição do evento..." %>
      </div>
      <div class="col-md-4 mt-3 files">
        <%= f.input :photo %>
      </div>
      <h2 class="text-success h4 my-3">Local do evento</h2>
      <div class="col-md-6">
        <%= f.input :cep %>
        <%= f.input :state_id, collection: State.all.order(:name) %>
        <%= f.input :city_id, as: :select, collection: @cities, input_html: { id: 'cities_select' }, required: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :street_name %>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :street_number %>
          </div>
          <div class="col-md-8">
            <%= f.input :neighborhood %>
          </div>
        </div>
        <%= f.input :address_complement %>
      </div>
      <h2 class="text-success h4 my-3">Data do evento</h2>
      <div class="col-md-12 d-flex justify-content">
          <%= f.input :scheduled_start, label: "Data de Início", as: :date, html5: true %>
          <%= f.input :scheduled_start, label: "Horário de Início", as: :time, html5: true %>
          <%= f.input :scheduled_end, label: "Data de Término", as: :date, html5: true %>
          <%= f.input :scheduled_end, label: "Horário de Término", as: :time, html5: true %>
      </div>
    </div>

    <h2 class="my-5 title">Tipos de ingresso, lotes e preços</h2>

    <react data-component="EventBatches" data-event="<%= @event.to_json(include: :event_batches) %>"></react>

    <div class="spacer-25"></div>
    
    <h2 class="my-5 title">Perguntas para o participante</h2>

    <div class="participant-questions">
      <react data-component="Questions" data-questions="<%= @event.questions.non_default.to_json %>" ></react>
    </div>

    <%= f.submit "#{@event.new_record? ? "Criar" : "Atualizar"} evento", class: "btn btn-primary mt-5 w-100" %>
  <% end %>
</div>
