<div class="page-wrapper">
  <div class="p-5 bg-dark br-8">
    <h1 class="title text-center">
      <%= @event.new_record? ? "Criar novo evento" : "Atualizar evento" %>
    </h1>

    <% if @event.errors.present? %>
      <p class="danger-text br-8 p-3">Houve algum erro de preenchimento dos dados do evento.</p>
    <% end %>
    <% if @errors[:event_batches].present? %>
      <p class="danger-text br-8 p-3">Houve algum erro de preenchimento nos tipos de ingresso. <span class="text-white clickable" onclick="document.querySelector('#event-batches').scrollIntoView()"><u>Clique aqui para ver os erros</u></span></p>
    <% end %>
    <% if @errors[:questions].present? %>
      <p class="danger-text br-8 p-3">Houve algum erro de preenchimento nas perguntas para participantes.  <span class="text-white clickable" onclick="document.querySelector('#questions').scrollIntoView()"><u>Clique aqui para ver os erros</u></span></p>
    <% end %>

    <%= simple_form_for([:partner_admin, @event]) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <%= f.input :name %>
        </div>
        <div class="col-md-12 mt-3 file-upload">
          <%= f.input :photo, input_html: { "data-current-image-url": @event.photo&.url } %>
          <% if @event.errors.present? && @event.errors[:photo] %>
            <div class="text-danger"><%= @event.errors[:photo].first %></div>
          <% end %>
        </div>
        <div class="col-md-12">
          <%= f.rich_text_area :description, placeholder: "Descrição do evento..." %>
        </div>
        <% if @event.errors.present? && @event.errors[:description] %>
          <div class="text-danger"><%= @event.errors[:description].first %></div>
        <% end %>
        <div class="row">
          <div class="col-12">
          <%= f.rich_text_area :terms_of_use, placeholder: "Termos de uso para esse evento..." %>
          </div>
        </div>

        <div class="col-md-12 my-5">
          <%= f.input :experience, input_html: { class: "my-3" } %>
          <% if @experiences.present? %>
            <p class="m-0">Digite uma nova experiência ou escolha uma experiência já existente:</p>
            <select id="experience-select" class="w-100 my-3">
              <% ([""] + @experiences).each do |experience| %>
                <option value="<%= experience %>"><%= experience %></option>
              <% end %>
            </select>
            <script>
              document.querySelector("#experience-select").addEventListener("change", (e) => {
                document.querySelector("#event_experience").value = e.target.value;
              })
            </script>
          <% end %>
          <p class="m-0 info-text p-4 br-8 mb-3">
            <i class="fa fa-info-circle mx-3"></i>Se você deseja agrupar esse evento com outros eventos, digite o nome de como gostaria de chamar a experiência ou escolha uma experiência que você já tiver cadastrado.
          </p>
        </div>

        <h2 class="text-success h2 my-3">Documentos</h2>
        <div class="my-3">
          <%= f.input :presentation %>
          <% if @event.presentation.attached? %>
            <%= link_to "Arquivo atual", @event.presentation.url, target: :_blank, class: "w-20" %>
            <%= link_to "Deletar arquivos atuais", partner_admin_event_delete_attachments_path(@event, key: :presentation), class: "w-20 text-danger px-3", method: :patch %>
          <% end %>
        </div>
        <div class="my-3">
          <%= f.input :sponsors_photos, as: :file, input_html: { multiple: true } %>
          <% @event.sponsors_photos.each do |sponsor_photo| %>
            <%= cl_image_tag sponsor_photo.key, height: 300, width: 400, crop: :fill %>
          <% end if !@event.new_record? %>
          <br>
          <% if @event.sponsors_photos.attached? %>
            <%= link_to "Deletar arquivos atuais", partner_admin_event_delete_attachments_path(@event, key: :sponsors_photos), class: "w-20 text-danger px-3", method: :patch %>
          <% end %>
        </div>
        <div class="my-3">
          <%= f.input :supporters_photos, as: :file, input_html: { multiple: true } %>
          <% @event.supporters_photos.each do |supporter_photo| %>
            <%= cl_image_tag supporter_photo.key, height: 300, width: 400, crop: :fill %>
          <% end if !@event.new_record? %>
          <br>
          <% if @event.supporters_photos.attached? %>
            <%= link_to "Deletar arquivos atuais", partner_admin_event_delete_attachments_path(@event, key: :supporters_photos), class: "w-20 text-danger px-3", method: :patch %>
          <% end %>
        </div>

        <h2 class="text-success h2 my-3">Local do evento</h2>
        <div class="col-md-6">
          <%= f.input :cep, input_html: { class: "input-cep" }  %>
          <%= f.input :state_id, collection: State.all.order(:name), input_html: { class: 'select-state' }  %>
          <% if @event.errors.present? && @event.errors[:state] %>
            <div class="text-danger"><%= @event.errors[:state].first %></div>
          <% end %>
          <%= f.input :city_id, as: :select, collection: @cities, input_html: { class: 'select-city' }, required: true %>
          <% if @event.errors.present? && @event.errors[:city] %>
            <div class="text-danger"><%= @event.errors[:city].first %></div>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= f.input :street_name, input_html: { class: "input-street-name" } %>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :street_number %>
            </div>
            <div class="col-md-8">
              <%= f.input :neighborhood, input_html: { class: "input-neighborhood" } %>
            </div>
          </div>
          <%= f.input :address_complement %>
        </div>
        <h2 class="text-success h2 my-3">Data do evento</h2>
        <div class="col-md-6 col-sm-6">
          <%= f.input :scheduled_start, as: :datetime, html5: true %>
        </div>
        <div class="col-md-6 col-sm-6">
            <%= f.input :scheduled_end, as: :datetime, html5: true %>
        </div>
      </div>

      <h2 class="my-5 title" id="event-batches">Tipos de ingresso, lotes e preços</h2>

      <react data-component="EventBatches" data-event="<%= @event.to_json %>" data-event-batches="<%= (@restore_params_after_error ? (params[:event][:event_batches] || []) : @event.event_batches.active).to_json %>" data-errors="<%= @errors.to_json %>"></react>

      <div class="spacer-50"></div>

      <%= f.input :group_buy, as: :boolean, label: "Compra em grupo", input_html: { checked: @event.group_buy } %>

      <p class="m-0 info-text text-white p-4 br-8 mb-3 mt-3">
        <i class="fa fa-info-circle my-3 pe-2"></i>Ao ativar a compra em grupo, o primeiro usuário que comprar um passe para esse evento irá receber um link para que apenas seus convidados possam comprar passes, e a venda de passes para o público geral será suspendida.
      </p>

      <div class="spacer-25"></div>
      
      <h2 class="my-5 title">Perguntas para o participante</h2>

      <div class="participant-questions" id="questions">
        <react data-component="Questions" data-questions="<%= (@restore_params_after_error ? (params[:questions] || []) : @event.questions.active.non_default).to_json %>" data-errors="<%= @errors.to_json %>"></react>
      </div>

      <div class="text-center">
        <%= f.submit "#{@event.new_record? ? "Criar" : "Atualizar"} evento", class: "btn btn-success mt-5" %>
      </div>
    <% end %>
  </div>
</div>
