<table id="user-list">
  <thead>
    <tr>
      <th scope="col">Usuário</th>
      <% questions = event.questions.order(:order) %>
      <% questions.order(:order).each do |question| %>
        <td><%= question.prompt %></td>
      <% end %>
      <th scope="col">Acesso</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% passes.each do |pass| %>
      <tr>
        <td data-label="Usuário"><%= pass.user.email %></td>
        <% questions.each do |question| %>
          <td><%= pass.question_answers.joins(:question).find_by(questions: {id: question.id}).value %></td>
        <% end %>
        <td data-label="Acesso">
          <% if pass.accesses.present? %>
            <p class="m-0"><i class="fa fa-check text-success fs-20 px-3"></i><%= pass.accesses.first.created_at.strftime("%d/%m/%Y - %H:%M") %></p>
          <% else %>
            <p class="m-0">-</p>
          <% end %>
        </td>
        <td data-label="Ações" class="pb-4 pb-sm-2">
          <% if pass.accesses.blank? %>
            <p class="m-0 btn btn-success toggle-access-modal" data-partner-slug="<%= pass.partner.slug %>" data-pass-identifier="<%= pass.identifier %>" data-holder-name="<%= pass.holder_name %>" data-scanner-user-id="<%= current_user.id %>">Liberar acesso</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
