<table id="user-list">
  <thead>
    <tr>
      <% event.event_questions.default_questions.order(:order).each do |event_question| %>
        <td><%= event_question.prompt %></td>
      <% end %>
      <th scope="col">Usuário</th>
      <% event.event_questions.non_default_questions.order(:order).each do |event_question| %>
        <td><%= event_question.prompt %></td>
      <% end %>
      <th scope="col">Acesso</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% passes.each do |pass| %>
      <tr>
        <% pass.question_answers.default_questions.joins(:event_question).order("event_questions.order").each do |question_answer| %>
          <td data-label="<%= question_answer.event_question.prompt %>"><%= question_answer.value %></td>
        <% end %>
        <td data-label="Usuário"><%= pass.user.email %></td>
        <% pass.question_answers.non_default_questions.joins(:event_question).order("event_questions.order").each do |question_answer| %>
          <td><%= question_answer.value %></td>
        <% end %>
        <td data-label="Acesso">
          <% if pass.accesses.present? %>
            <p class="m-0"><i class="fa fa-check text-success fs-20 px-3"></i><%= pass.accesses.first.created_at.strftime("%d/%m/%Y - %H:%M") %></p>
          <% else %>
            <p class="m-0">-</p>
          <% end %>
        </td>
        <td data-label="Ações">
          <% if pass.accesses.blank? %>
            <p class="m-0 btn btn-primary toggle-access-modal" data-partner-slug="<%= pass.partner.slug %>" data-pass-identifier="<%= pass.identifier %>">Liberar acesso</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
