<div class="page-wrapper">
  <h1><%= @event.name %></h1>

  <% if @event.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, height: 300, crop: :fill %>')">
    </div>
  <% end %>

  <% @event.batches.each do |batch| %>
    <div class="bg-gs-230 flex center around p-4 br-8 my-4">
      <p class="f-24 fw-700 m-0 f-1x"><%= batch.name %></p>
      <p class="f-24 m-0 f-1x"><%= number_to_currency(batch.price, unit: "R$", separator: ",", delimiter: ".") %></p>
      <p class="f-24 fw-700 m-0 f-1x"><%= batch.qrcodes.count %>/<%= batch.quantity %></p>
      <% if batch.ended_at.present? %>
        <p class="danger-text br-8 p-3 m-0 f-1x text-center">Encerrado em <%= batch.ended_at.strftime("%d/%m às %H:%M:%S") %></p>
      <% elsif batch == @event.current_batch %>
        <p class="success-text br-8 p-3 m-0 f-1x text-center">Em vendas</p>
      <% else %>
        <p class="info-text br-8 p-3 m-0 f-1x text-center">Em aberto</p>
      <% end %>
    </div>
  <% end %>

  <h3>Lista de convidados</h3>
  <p><b> Total de convidados: </b> <%= @users.length %> | <b> Total de acessos: </b> <%= @accesses.count %> </p>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
      <% access = @accesses.find_by(user: user) %>
      <% if access.present? %>
        <span class="text-success"><i class="fa fa-check fs-20 px-3"></i>Acesso liberado em <%= access.created_at.strftime("%d/%m às %H:%M:%S") %> por <%= access.granted_by.email %></span>
      <% end %>
    </li>
  <% end %>
</div>

