<div class="page-wrapper">
  <h1 class="title"><%= @event.name %></h1>

  <% if @event.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, height: 300, crop: :fit %>')">
    </div>
  <% end %>

  <% @event.event_batches.each do |event_batch| %>
    <div class="bg-primary-color flex center around p-4 br-8 my-4">
      <p class="f-24 fw-700 m-0 f-1x"><%= event_batch.pass_type %> - <%= event_batch.name %></p>
      <p class="f-24 m-0 f-1x"><%= number_to_currency(event_batch.price_in_cents, unit: "R$", separator: ",", delimiter: ".") %></p>
      <p class="f-24 fw-700 m-0 f-1x"><%= event_batch.passes.count %>/<%= event_batch.quantity %></p>
      <p class="f-24 fw-700 m-0 f-1x">Finaliza em <%= event_batch.ends_at.strftime("%d/%m") %></p>
      <% if event_batch.in_sales? %>
        <p class="success-text br-8 p-3 m-0 f-1x text-center">Em vendas</p>
      <% elsif event_batch.available? %>
        <p class="info-text br-8 p-3 m-0 f-1x text-center">Em aberto</p>
      <% else %>
        <p class="danger-text br-8 p-3 m-0 f-1x text-center">Encerrado em <%= event_batch.ended_at_datetime.strftime("%d/%m às %H:%M:%S") %></p>
      <% end %>
    </div>
  <% end %>

  <h3>Comunicados do evento</h3>
  <%= link_to event_event_communications_path(event_id: @event.id) do %>
    <p class="btn btn-primary w-100">Ver comunicados do evento (<%= @event.event_communications.count %>)</p>
  <% end %>

  <h3 class="title">Lista de convidados</h3>
  <p><b> Total de convidados: </b> <%= @passes.length %> | <b> Total de acessos: </b> <%= Access.where(pass_id: @passes.ids).count %> </p>

  <%= link_to partner_admin_event_path(format: "csv") do %>
    <p class="btn btn-primary m-0 mb-3">Baixar CSV</p>
  <% end %>

  <table>
    <thead>
      <tr>
        <% @event.event_questions.default_questions.order(:order).each do |event_question| %>
          <td><%= event_question.prompt %></td>
        <% end %>
        <th scope="col">Usuário</th>
        <% @event.event_questions.non_default_questions.order(:order).each do |event_question| %>
          <td><%= event_question.prompt %></td>
        <% end %>
        <th scope="col">Acesso</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @passes.each do |pass| %>
        <tr>
          <% pass.question_answers.default_questions.joins(:event_question).order("event_questions.order").each do |question_answer| %>
            <td data-label="<%= question_answer.event_question.prompt %>"><%= question_answer.value %></td>
          <% end %>
          <td data-label="Usuário"><%= pass.user.email %></td>
          <% pass.question_answers.non_default_questions.joins(:event_question).order("event_questions.order").each do |question_answer| %>
            <td><%= question_answer.value %></td>
          <% end %>
          <td data-label="Acesso">
            <% if pass.accesses.present? %>
              <p class="m-0"><i class="fa fa-check text-success fs-20 px-3"></i><%= pass.accesses.first.created_at.strftime("%d/%m/%Y - %H:%M") %></p>
            <% else %>
              <p class="m-0">-</p>
            <% end %>
          </td>
          <td data-label="Ações">
            <% if pass.accesses.blank? %>
              <p class="m-0 btn btn-primary toggle-access-modal" data-partner-slug="<%= pass.partner.slug %>" data-pass-identifier="<%= pass.identifier %>">Liberar acesso</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="access-modal" class="modal vh-100" tabindex="-1" role="dialog">
  <div class="modal-dialog bg-darker modal-xl" role="document">
    <div class="modal-content bg-darker">
      <div class="modal-header bg-darker">
        <h3 class="modal-title text-color-primary">Liberar acesso</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body vh-80 bg-darker">
        <p>Modal body text goes here.</p>
      </div>
    </div>
  </div>
</div>
