<%= render 'shared/navbar' %>
<div class="page-wrapper">
  <h1 class="title"><%= @event.name %></h1>

  <% if @event.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, height: 300, crop: :fill %>')">
    </div>
  <% end %>

  <% @event.batches.each do |batch| %>
    <div class="bg-primary-color flex center around p-4 br-8 my-4">
      <p class="f-24 fw-700 m-0 f-1x"><%= batch.name %></p>
      <p class="f-24 m-0 f-1x"><%= number_to_currency(batch.price, unit: "R$", separator: ",", delimiter: ".") %></p>
      <p class="f-24 fw-700 m-0 f-1x"><%= batch.qrcodes.count %>/<%= batch.quantity %></p>
      <% if batch.ended_at.present? %>
        <p class="danger-text br-8 p-3 m-0 f-1x text-center">Encerrado em <%= batch.ended_at.strftime("%d/%m às %H:%M:%S") %></p>
      <% elsif batch == @event.current_batch %>
        <p class="success-text br-8 p-3 m-0 f-1x text-center">Em vendas</p>
      <% else %>
        <p class="info-text br-8 p-3 m-0 f-1x text-center">Em aberto</p>
      <% end %>
    </div>
  <% end %>

  <h3>Comunicados do evento</h3>
  <%= link_to event_event_communications_path(event_id: @event.id) do %>
    <p class="btn btn-primary w-100">Ver comunicados do evento (<%= @event.event_communications.count %>)</p>
  <% end %>

  <h3 class="title">Lista de convidados</h3>
  <p><b> Total de convidados: </b> <%= @users.length %> | <b> Total de acessos: </b> <%= @accesses.count %> </p>
  <table>
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Acesso</th>
        <% @event.event_questions.order(:order).each do |event_question| %>
          <th><%= event_question.prompt %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td data-label="Email"><%= user.email %></td>
          <td>
            <% access = @accesses.find_by(user: user) %>
            <% if access.present? %>
              <p class="text-success m-0"><i class="fa fa-check fs-20 px-3"></i>Acesso liberado em <%= access.created_at.strftime("%d/%m às %H:%M:%S") %> por <%= access.granted_by.email %></p>
            <% end %>
          </td>
          <% Qrcode.find_by(user: user, event: @event).event_question_qrcode_answers.joins(:event_question).order("event_questions.order").each do |event_question_qrcode_answer| %>
            <td><%= event_question_qrcode_answer.value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

