
<div class="page-wrapper vh-100 w-100">
  <div class="h-100 w-100">
    <div class="flex center around h-100">
      <div class="h-100 pass-wrapper flex column center around">
        <div>
        <% if @pass.partner.logo.attached? %>
          <div class="my-5 flex center around">
          <%= cl_image_tag @pass.partner.logo.key, height: 200, width: 220, crop: :fit %>
          </div>
        <% end %>
          <h1 class="text-center mb-2 fw-700 text-dark"><%= @pass.partner.name %></h1>
          <h1 class="text-center mb-2 fw-700 text-dark"><%= @pass.name %></h1>
        </div>
        <div class="mx-auto text-center">
          <%= @pass.qrcode_svg.html_safe %>
        </div>
        <div>
          <p class="my-3 text-center mt-5 text-dark"><%= @pass.identifier %></p>
        </div>
      </div>
    </div>
  </div>
</div>
