<div class="page-wrapper" id="myGroup">

  <div class="page-mobile flex flex-column">
    <h1 class="text-success">Acesso NuflowPass</h1>
    <button class="btn btn-success mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#sign-in" aria-expanded="false" aria-controls="multiCollapseExample2">Fazer Login</button>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#sign-up" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Criar conta</button>
  </div>

  <div class="row pt-3">
    <div id="sign-in" class="col-12 col-md-6 mb-4 <%= 'collapse multi-collapse' if mobile_device? %>">
      <div class="p-5 bg-dark br-12 d-flex flex-column <%= mobile_device? ? "vh-90" : "vh-80 mt-5" %>">
        <h2 class="text-center text-success f-20">Fazer Login</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="h-100">
            <div class="h-80">
              <%= f.input :email, id: "email-signin",
                    required: false,
                    autofocus: true, input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password", id: "password_signin" } %>
              <%= f.input :remember_me, label: 'Continuar logado', as: :boolean, input_html: { checked: true } if devise_mapping.rememberable? %>
              
              <label for="toggle-password-signin" class="mt-3">Mostrar senha</label> 
              <input type="checkbox" id="toggle-password-signin" />
            <div class="py-2">
              <%= render "devise/shared/links" %>
            </div>
            </div>
            <div class="text-center my-3 h-20">
              <%= f.button :submit, "Fazer login", class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
        <% if mobile_device? %>
          <p class="fs-36 my-4">Não tem uma conta? Crie uma conta com o formulário abaixo:</p>
        <% end %>
      </div>
    </div>
    <div id="sign-up" class="col-12 col-md-6 <%= 'collapse multi-collapse' if mobile_device? %>">
      <div class="bg-dark br-12 d-flex flex-column <%= mobile_device? ? "p-3" : "p-5 vh-80 mt-5" %>">
        <h2 class="text-center text-success f-20">Criar conta</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="h-80">
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :name,
                          required: true,
                          autofocus: true %>
              <%= f.input :document_number,
                          required: true,
                          autofocus: true,
                          input_html: { class: "mask-cpf" } %>
              <%= f.input :cep,
                          required: true,
                          autofocus: true,
                          input_html: { class: "mask-cep" } %>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password", id: "password_signup" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          label: "Confirmação de senha",
                          input_html: { autocomplete: "new-password", id: "password_confirmation" } %>
            </div>
            <div class="">
              <label for="toggle-password-signup">Mostrar senha</label>
              <input type="checkbox" id="toggle-password-signup" />
            </div>
          </div>
          <div class="text-center mt-5 h-20">
            <%= f.button :submit, "Criar nova conta", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
var $myGroup = $('#myGroup');
$myGroup.on('show.bs.collapse','.collapse', function() {
    $myGroup.find('.collapse.in').collapse('hide');
});
</script>
