<div class="page-wrapper"> 
  <div class="container mt-5 d-none d-sm-none d-md-none d-lg-none d-xl-block">
    <div class="row">
      <% @partners.each do |partner| %>
        <%= link_to partner_path(partner), class: "col-sm-12 col-md-6 col-lg-4 p-3 bg-dark p-4 clickable" do %>
          <div class="flex center around mb-4">
            <% if partner.logo.attached? %>
              <%= image_tag cl_image_path partner.logo.key, height: 220, crop: :fill %>
            <% else %>
              <%= image_tag 'default.png' %>
            <% end %>
          </div>
          <div class="d-flex justify-content-around p-2">
            <h3 class="text-center"><em><%= partner.name %></em></h3>
          </div>
          <div class="p-2">
            <p class="text-white mb-5"><%= partner.about.truncate(80) %></p>
            <p class="text-center"><%= partner.city.name %>, <%= partner.state.acronym %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

