<% if @partner.banner.attached? %>
  <%= cl_image_tag @partner.banner.key, crop: :fill, class: "partner-banner" %>
<% else %>
  <%= image_tag "background_1.jpg", crop: :fill, class: "partner-banner" %>
<% end %>
<div class="partner-show-wrapper position-relative">
  <% if @partner.logo.attached? %>
    <%= cl_image_tag @partner.logo.key, height: 200, width: 220, crop: :fit, class: "partner-show-logo" %>
  <% end %>

  <% if @partner.bike_park? %>
    <h2>Agendamentos disponíveis</h2>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">  
        <% @open_days.each do |open_day| %>
          <div 
            class="date-card-partner-show flex column center justify-content-between col-2 col-md-1 bg-dark mx-1 mx-md-2 py-4 clickable mb-2 <%= 'active' if open_day[:date].today? %>" data-date="<%= open_day[:date].strftime('%d-%m-%Y') %>"
              data-bs-toggle="tab" data-bs-target="#nav-dayuse-<%= open_day[:date].strftime("%d-%m-%Y") %>" type="button" role="tab" aria-controls="nav-events" aria-selected="true">
            <p class="m-0 fs-36"><%= open_day[:date].day %></p>
            <p class="m-0 fs-18"><%= month_number_to_name_abr(open_day[:date].month) %></p>
            <p class="m-0 fs-18"><%= weekday_number_to_name_abr(open_day[:date].wday) %></p>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="tab-content mt-5" id="nav-tabContent">
      <% @open_days.each do |open_day| %>
        <div class="tab-pane fade show <%= 'active' if open_day[:date].today? %>" id="nav-dayuse-<%= open_day[:date].strftime("%d-%m-%Y") %>" role="tabpanel" aria-labelledby="nav-events-tab">
          <div class="row">
            <% open_day[:day_uses].each do |day_use| %>
              <div class="col-12 col-md-4 mb-3">
                <%= link_to day_use_path(day_use, open_day[:date].strftime("%d-%m-%Y")) do %>
                  <% day_use_schedule = day_use.day_use_schedules.find_by(weekday: open_day[:value]) %>
                  <div class="card-category px-4 py-2 flex justify-content-start align-items-end clickable" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path day_use_schedule.display_photo, height: 300, crop: :fill %>')">
                    <div class="flex center between w-100">
                      <p class="text-white m-0 col-12 col-md-4"><span class="fw-700"><%= day_use.name %></span> - <%= day_use_schedule.name %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="spacer-50"></div>
  <% end %>

  <h2>Eventos</h2>
  
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-12 col-md-4 mb-3">
        <%= link_to event_path(event)do %>
          <div class="card-category px-4 py-2 flex justify-content-start align-items-end clickable" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path event.photo.key, height: 300, crop: :fill %>')">
            <div class="flex center between w-100">
              <p class="text-white mb-0"><%= event.name %></p>
              <p class="text-white mb-0"><%= event.scheduled_start.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @events.blank? %>
    <p class="text-white">Nenhum evento programado até o momento.</p>
  <% end %>

  <div class="spacer-50"></div>

  <% if @partner.bike_park? %>
    <h2>Assinaturas disponíveis</h2>

    <div>
      <% @memberships.each do |membership| %>
        <div class="membership bg-dark w-100 p-4 br-8 text-white flex center gap-24 justify-content-between justify-content-md-start mb-2 flex-column flex-md-row">
          <div class="f-30">
            <p class="text-white fw-700"><%= membership.name %></p>
            <p class="text-white m-0"><%= membership.short_description %></p>
          </div>

          <% if current_user && current_user.has_membership?(membership) %>
            <p class="m-0"><i class="fa fa-check text-success fs-20 px-3"></i>Você já está inscrito nessa assinatura</p>
          <% else %>
            <%= link_to membership_path(membership) do %>
              <p class="btn btn-success m-0">Inscrever</p>
            <% end %>
          <% end %>
          
          <div class="f-40 text">
            <p class="text-success m-0"><%= display_price(membership.price_in_cents) %>/<%= membership.recurrence_interval_in_months %> <%= membership.recurrence_interval_in_months > 1 ? "meses" : "mês" %></p>
            <% if !membership.minimum_subscription_months.zero? %>
              <p class="text-white m-0">*Tempo mínimo de assinatura: <%= membership.minimum_subscription_months %> <%= membership.minimum_subscription_months > 1 ? "meses" : "mês" %></p>
            <% end %>
          </div>
        </div>
      <% end %>  
    </div>

    <% if @memberships.blank? %>
      <p class="text-white">Nenhuma assinatura programada até o momento.</p>
    <% end %>

    <h2 class="text-success text-center mt-5">Sobre o local</h2>
    <p><%= @partner.about %></p>
    
  <% end %>
</div>

