<%= image_tag "laybackbanner.jpg", class: "w-100 partner-banner" %>

<div class="partner-show-wrapper position-relative">
  <% if @partner.logo.attached? %>
    <%= cl_image_tag @partner.logo.key, height: 200, width: 220, crop: :fit, class: "partner-show-logo" %>
  <% end %>

  <h2>Day Uses disponíveis</h2>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">  
      <% @weekdays.each do |weekday| %>
        <div 
          class="date-card-partner-show flex column center justify-content-between col-2 col-md-1 bg-dark mx-1 mx-md-2 py-4 clickable mb-2 <%= 'active' if weekday[:date].today? %>" data-date="<%= weekday[:date].strftime('%d-%m-%Y') %>"
            data-bs-toggle="tab" data-bs-target="#nav-dayuse-<%= weekday[:value] %>" type="button" role="tab" aria-controls="nav-events" aria-selected="true">
          <p class="m-0 fs-36"><%= weekday[:date].day %></p>
          <p class="m-0 fs-18"><%= month_number_to_name_abr(weekday[:date].month) %></p>
          <p class="m-0 fs-18"><%= weekday_number_to_name_abr(weekday[:date].wday) %></p>
        </div>
      <% end %>
    </div>
  </nav>

  <div class="tab-content mt-5" id="nav-tabContent">
    <% @weekdays.each do |weekday| %>
      <div class="tab-pane fade show <%= 'active' if weekday[:date].today? %>" id="nav-dayuse-<%= weekday[:value] %>" role="tabpanel" aria-labelledby="nav-events-tab">
        <div class="row">
          <% weekday[:day_uses].each do |day_use| %>
            <div class="col-12 col-md-4 mb-3">
              <%= link_to day_use_path(day_use,  weekday[:date].strftime("%d-%m-%Y")) do %>
                <div class="card-category px-4 py-2 flex justify-content-start align-items-end clickable" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path day_use.photo.key, height: 300, crop: :fill %>')">
                  <div class="flex center between w-100">
                    <p class="text-white m-0 col-12 col-md-4"><span class="fw-700"><%= day_use.name %></span> - <%= day_use.day_use_schedules.find_by(weekday: weekday[:value]).name %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if weekday[:day_uses].blank? %>
          <p class="text-white">Nenhum day use programado para esse dia.</p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="spacer-50"></div>

  <h2>Eventos</h2>
  
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-12 col-md-4 mb-3">
        <%= link_to event_path(event)do %>
          <div class="card-category px-4 py-2 flex justify-content-start align-items-end clickable" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path event.photo.key, height: 300, crop: :fill %>')">
            <div class="flex center between w-100">
              <p class="text-white mb-0"><%= event.name %></p>
              <p class="text-white mb-0"><%= event.scheduled_start.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @events.blank? %>
    <p class="text-white">Nenhum evento programado até o momento.</p>
  <% end %>

  <div class="spacer-50"></div>

  <h2>Assinaturas disponíveis</h2>

  <div>
    <% @memberships.each do |membership| %>
      <div class="membership bg-dark w-100 p-4 br-8 text-white flex center gap-24 justify-content-between justify-content-md-start mb-2">
        <p class="text-white m-0 m-0 f-30"><%= membership.name %></p>
        <% if user_signed_in? %>
          <div class="">
            <%= simple_form_for(@user_membership) do |f| %>
              <%= f.input :membership_id, as: :hidden, input_html: { value: membership.id } %>
              <%= f.submit "Inscrever", class: "btn btn-success" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>  
  </div>
</div>

