<% if @partner.banner.attached? %>
  <% if mobile_device? %>
    <%= cl_image_tag @partner.banner.key, crop: :fill, class:"mw-100" %>   
  <% else %>
    <div class="flex center around mt-5">
        <div class="event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('<%= @partner.banner.url %>')">
      </div>
    </div>
  <% end %>
<% end %>
<div class="partner-show-wrapper position-relative">
  <% if @partner.logo.attached? %>
    <%= cl_image_tag @partner.logo.key, height: 200, width: 220, crop: :fit, class: "partner-show-logo" %>
  <% end %>

  <% if @memberships.present? %>
    <nav class="<%= mobile_device? && 'mt-5' %>">
      <div class="nav nav-tabs underlined" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-experiences-tab" data-bs-toggle="tab" data-bs-target="#nav-experiences" type="button" role="tab" aria-controls="nav-experiences" aria-selected="true">EXPERIÊNCIAS</button>
          <button class="nav-link" id="nav-memberships-tab" data-bs-toggle="tab" data-bs-target="#nav-memberships" type="button" role="tab" aria-controls="nav-memberships" aria-selected="true">ASSINATURAS</button>
      </div>
    </nav>
  <% end %>
  

  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-experiences" role="tabpanel" aria-labelledby="nav-experiences-tab">
      <div class="row">
        <% @day_uses.each do |day_use| %>
          <div class="col-12 col-md-4 mb-3">
            <%= link_to day_use_path(day_use) do %>
              <div class="card-category px-4 py-2 flex justify-content-start align-items-end clickable" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path day_use.display_photo, height: 300, crop: :fill %>')">
                <div class="flex center between w-100">
                  <p class="text-white m-0 col-12 col-md-4"><span class="fw-700"><%= day_use.name %></span></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% @events.each do |event| %>
          <div class="col-12 col-md-4 mb-3">
            <%= link_to event_path(event)do %>
              <div class="card-category px-4 py-2 flex justify-content-start align-items-end clickable" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path event.photo.key, height: 300, crop: :fill %>')">
                <div class="flex center between w-100">
                  <p class="text-white mb-0"><%= event.name %></p>
                  <p class="text-white mb-0"><%= event.scheduled_start.strftime("%d/%m/%Y") %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade show" id="nav-memberships" role="tabpanel" aria-labelledby="nav-memberships-tab">
      <% @memberships.each do |membership| %>
        <div class="membership bg-dark w-100 p-4 br-8 text-white flex center gap-24 justify-content-between justify-content-md-start mb-2 flex-column flex-md-row">
          <div class="f-30">
            <p class="text-white fw-700"><%= membership.name %></p>
            <p class="text-white m-0"><%= membership.short_description %></p>
          </div>

          <% if current_user && current_user.has_membership?(membership) %>
            <p class="m-0"><i class="fa fa-check text-success fs-20 px-3"></i>Você já está inscrito nessa assinatura</p>
          <% else %>
            <%= link_to membership_path(membership) do %>
              <p class="btn btn-success m-0">Inscrever</p>
            <% end %>
          <% end %>
          
          <div class="f-40 text">
            <p class="text-success m-0"><%= display_price(membership.price_in_cents) %>/<%= membership.recurrence_interval_in_months %> <%= membership.recurrence_interval_in_months > 1 ? "meses" : "mês" %></p>
            <% if !membership.minimum_subscription_months.zero? %>
              <p class="text-white m-0">*Tempo mínimo de assinatura: <%= membership.minimum_subscription_months %> <%= membership.minimum_subscription_months > 1 ? "meses" : "mês" %></p>
            <% end %>
          </div>
        </div>
      <% end %>  
    </div>
  </div>

  <h2 class="text-success text-center mt-5">Sobre o local</h2>
  <p><%= @partner.about %></p>
  
</div>

