<div class="page-wrapper">
  <div class="p-5 br-8 bg-dark">
    <h1 class="title">
      <%= @day_use.new_record? ? "Criar novo Agendamento" : "Atualizar Agendamento" %>
    </h1>

    <%= simple_form_for([:partner_admin, @day_use]) do |f| %>
      <%= f.input :name %>

      <%= f.rich_text_area :description, placeholder: "Descrição do Agendamento..." %>

      <%= f.rich_text_area :terms_of_use, placeholder: "Termos de uso para esse agendamento..." %>

      <div class="spacer-30"></div>

      <%= f.input :photo, as: :file %>

      <div class="spacer-50"></div>

      <h2 class="title">Cronograma</h2>

      <react data-component="DayUseSchedules" data-day-use-schedules="<%= @day_use_schedules.to_json(include: :day_use_schedule_pass_types) %>"></react>

      <%= f.submit @day_use.new_record? ? "Criar novo Agendamento" : "Atualizar Agendamento", class: "btn btn-success mt-5 w-100" %>
    <% end %>
  </div>
</div>
