<div class="page-wrapper">
  <h1 class="title">Criar novo Day Use</h1>

  <%= simple_form_for([:partner_admin, @day_use]) do |f| %>
    <%= f.input :name %>

    <%= f.rich_text_area :description, placeholder: "Descrição do day use..." %>

    <div class="spacer-30"></div>

    <%= f.input :photo, as: :file %>

    <div class="spacer-50"></div>

    <h2 class="title">Cronograma</h2>

    <react data-component="DayUseSchedules" weekdays="<%= @weekdays.to_json %>"></react>

    <%= f.submit "Criar day use", class: "btn btn-success mt-5 w-100" %>
  <% end %>
</div>
