<div id="day-use-show-page" class="page-wrapper">
  <h1 class="title"><%= @day_use.name %></h1>

  <% if @day_use.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @day_use.photo.key, height: 300, crop: :fill %>')">
    
    </div>
  <% end %>

  <ul class="nav nav-tabs underlined mb-5" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="user-list-tab" data-bs-toggle="tab" data-bs-target="#user-list" type="button" role="tab" aria-controls="home" aria-selected="true">Lista de inscritos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="schedules-tab" data-bs-toggle="tab" data-bs-target="#schedules" type="button" role="tab" aria-controls="profile" aria-selected="false">Programação</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="schedule-blocks-tab" data-bs-toggle="tab" data-bs-target="#schedule-blocks" type="button" role="tab" aria-controls="contact" aria-selected="false">Bloqueios de calendário</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="generate-pass-tab" data-bs-toggle="tab" data-bs-target="#generate-pass" type="button" role="tab" aria-controls="contact" aria-selected="false">Gerar passe</button>
    </li>
    <% if false %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="controls-tab" data-bs-toggle="tab" data-bs-target="#controls" type="button" role="tab" aria-controls="contact" aria-selected="false">Editar</button>
      </li>
    <% end %>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="user-list" role="tabpanel" aria-labelledby="home-tab">
      <div class="row mb-4">
        <% (0..6).to_a.map { |int| Time.current + int.days }.each do |date| %>
          <div class="date-card flex column center justify-content-between col-1 bg-dark mx-2 py-4 clickable <%= 'selected' if date.today? %>" data-date="<%= date.strftime('%d-%m-%Y') %>">
            <p class="m-0 fs-36"><%= date.day %></p>
            <p class="m-0 fs-18"><%= month_number_to_name_abr(date.month) %></p>
            <p class="m-0 fs-18"><%= weekday_number_to_name_abr(date.wday) %></p>
          </div>
        <% end %>
      </div>
      
      <p><b> Total de inscritos: </b> <%= @passes.length %> | <b> Total de acessos: </b> <%= Access.where(pass_id: @passes.ids).count %> </p>

      <div class="flex center between mb-3">
        <div class="form-group f-60">
          <input id="query-input" type="text" class="w-100" placeholder="Procurar passe">
        </div>
        <%= link_to partner_admin_day_use_path(format: "csv") do %>
          <p class="btn btn-success m-0">Baixar CSV</p>
        <% end %>
      </div>

      <div id="user-list-parent-node">
        <%= render partial: "partner_admin/day_uses/user_list", locals: { day_use: @day_use, passes: @passes } %>
      </div>
    </div>
    
    <div class="tab-pane fade" id="schedules" role="tabpanel" aria-labelledby="profile-tab">
      <% @day_use_schedules.each do |day_use_schedule| %>
        <div class="flex center start bg-dark p-4 br-8 mb-2">
          <p class="m-0 f-20"><%= day_use_schedule.weekday_display %></p>
          <% if day_use_schedule.open? %>
            <p class="m-0 success-text br-8 px-4 f-10 text-center">Aberto</p>
            <div class="f-20"></div>
            <p class="m-0 f-20"><%= day_use_schedule.opens_at.strftime("%H:%M") %> - <%= day_use_schedule.closes_at.strftime("%H:%M") %></p>
            <div class="f-30">
              <% day_use_schedule.day_use_schedule_pass_types.each do |day_use_schedule_pass_type| %>
                <p class="m-0 f-20"><%= day_use_schedule_pass_type.name %> - <%= display_price(day_use_schedule_pass_type.price_in_cents) %></p>
              <% end %>
            </div>
          <% else %>
            <p class="m-0 danger-text br-8 px-4 f-10 text-center">Fechado</p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="schedule-blocks" role="tabpanel" aria-labelledby="contact-tab">
      <table>
        <thead>
          <tr>
            <th scope="col">Tipo de bloqueio</th>
            <th scope="col">Dias de bloqueio</th>
            <th scope="col">Horário de início</th>
            <th scope="col">Horário de fim</th>
          </tr>
        </thead>
        <tbody>
          <% @day_use_blocks.each do |day_use_block| %>
            <tr>
              <td data-label="Tipo de bloqueio"><%= day_use_block.block_type %></td>
              <td data-label="Dias de bloqueio"><%= day_use_block.block_days %></td>
              <td data-label="Horário de início"><%= day_use_block.start_time&.strftime("%H:%M") || "00:00" %></td>
              <td data-label="Horário de fim"><%= day_use_block.end_time&.strftime("%H:%M") || "23:59" %></td>
              <td data-label="Ações">
                <%= link_to partner_admin_day_use_day_use_block_path(day_use_id: day_use_block.day_use_id, id: day_use_block.id), method: :delete, data: { confirm: "Tem certeza que deseja remover este bloqueio? Os usuários poderão comprar passes para os horários cobertos por esse bloqueio" } do %>
                  <p class="btn btn-danger m-0 px-5">Apagar</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <%= link_to new_partner_admin_day_use_day_use_block_path(day_use_id: @day_use.id) do %>
        <p class="btn btn-success w-100 mt-4">Criar Bloqueio</p>
      <% end %>
    </div>

    <div class="tab-pane fade" id="generate-pass" role="tabpanel" aria-labelledby="contact-tab">
      <%= simple_form_for([:partner_admin, @order]) do |f| %>
        <select name="order_item[start_time]" class="w-100 my-2">
          <% @day_use.schedule_for_today.open_slots_for_date(Time.current).each do |slot| %>
            <option value="<%= slot[:start_time] %>"><%= slot[:start_time].strftime("%H:%M") %> - <%= slot[:end_time].strftime("%H:%M") %></option>
          <% end %>
        </select>

        <select name="order_item[day_use_schedule_pass_type_id]" class="w-100 my-2">
          <% @day_use.schedule_for_today.day_use_schedule_pass_types.each do |day_use_schedule_pass_type| %>
            <option value="<%= day_use_schedule_pass_type.id %>"><%= day_use_schedule_pass_type.name %></option>
          <% end %>
        </select>

        <%= simple_fields_for :user do |uf| %>
          <%= uf.input :email %>
          <%= uf.input :name %>
          <%= uf.input :document_number %>
        <% end %>
        <div class="my-3"></div>
        <% @day_use.questions.each_with_index do |question, index| %>
          <p class="mb-3">Pergunta <%= index + 1 %>: <%= question.prompt %></p>
          <div class="my-2">
            <input
              type="hidden"
              name="order[user_answers][][question_id]"
              value="<%= question.id %>"
              class="w-100"
            />
            <input
              type="hidden"
              name="order[user_answers][][optional]"
              value="<%= question.optional %>"
              class="w-100"
            />
            <% if question.multiple_choice? %>
              <select
                name="order[user_answers][][value]"
                value="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value %>"
                class="w-100"
              >
                <% question.options.each do |option| %>
                  <option value="<%= option %>" <%= "selected" if @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value == option %>><%= option %></option>
                <% end %>
              </select>
            <% else %>
              <% if ["Nome completo", "CPF", "CEP"].include?(question.prompt) %>
                <input
                  type="text"
                  name="order[user_answers][][value]"
                  data-fill-inner-html="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value || "" %>"
                  class="w-100 form-control"
                />
              <% else %>
                <textarea
                  class="form-control my-2 f-60"
                  type="text"
                  name="order[user_answers][][value]"
                  data-fill-inner-html="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value || "" %>"
                  placeholder="Sua resposta..."></textarea>
              <% end %>
              <% if @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.errors&.present? %>
                <p class="text-danger"><%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }.errors.full_messages.first %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <%= f.submit "Gerar passe", class: "btn btn-success mt-5 w-100" %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="controls" role="tabpanel" aria-labelledby="controls-tab">
      <%= link_to edit_partner_admin_day_use_path(day_use_id: @day_use.id) do %>
        <p class="btn btn-success w-100">Editar Agendamento</p>
      <% end %>
    </div>
  </div>
</div>

<div id="access-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog bg-darker modal-xl" role="document">
    <div class="modal-content bg-darker">
      <div class="modal-body vh-90 bg-darker scrollable">
      </div>
    </div>
  </div>
</div>
