<div class="page-wrapper">
  <h1 class="title"><%= @day_use.name %></h1>

  <% if @day_use.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @day_use.photo.key, height: 300, crop: :fill %>')">
    
    </div>
  <% end %>

  <h3 class="title">Funcionamento</h3>

  <% @day_use.day_use_schedules.each do |day_use_schedule| %>
    <div class="flex center start bg-dark p-4 br-8 mb-2">
      <p class="m-0 f-20"><%= day_use_schedule.weekday_display %></p>
      <% if day_use_schedule.open? %>
        <p class="m-0 success-text br-8 px-4 f-10 text-center">Aberto</p>
        <div class="f-20"></div>
        <p class="m-0 f-30"><%= day_use_schedule.start_time.strftime("%H:%M") %> - <%= day_use_schedule.end_time.strftime("%H:%M") %></p>
        <p class="m-0 f-20"><%= display_price(day_use_schedule.price_in_cents) %></p>
      <% else %>
        <p class="m-0 danger-text br-8 px-4 f-10 text-center">Fechado</p>
      <% end %>
    </div>
  <% end %>

</div>
