<footer>
  <div class="container border-top border-secondary">
    <div class="d-flex justify-content-around align-items-center">
      <div class="page-desktop">
        <ul class="list-unstyled">
          <li class="text-white"><%= link_to "ESPAÇOS/AGENDAMENTOS", "/", class:"link-white" %></li>
          <li><%= link_to "EVENTOS E COMPETIÇÕES", "/events", class: "link-white" %></li>
          <li><%= link_to "SEJA UM PARCEIRO", "/partnership", class: "link-white" %></li>
        </ul>
      </div>
      <div class="d-flex flex-md-column justify-content-between align-items-center w100 px-4 py-3">
        <div class="text-center">
          <%= link_to user_signed_in? ? dashboard_path_for_user(current_user) : root_path do %>
            <%= image_tag "white_logo.png", class: "navbar-brand" %>
          <% end %>
        </div>
        <div class="d-flex justify-content-center gap-16 fs-24">
          <a href="#"><i class="fab fa-instagram text-white"></i></a>
          <a href="#"><i class="fab fa-facebook-f text-white"></i></a>
          <a href="#"><i class="fab fa-whatsapp text-white"></i></a>
          <a href="#"><i class="fas  fa-envelope text-white"></i></a>
        </div>
      </div>
      <div class="page-desktop">
        <ul class="list-unstyled">
          <li class="text-success clickable text-uppercase" data-bs-toggle="modal" data-bs-target="#contato-nuflow-modal">Fale conosco</li>
          <% if user_signed_in? %>
            <li class="">
              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="">
              <%= link_to "LOGIN", new_user_session_path, class: "" %>
            </li>
            <li class="">
              <%= link_to "CADASTRE-SE", new_user_registration_path, class: "" %>
            </li>
          <% end %>
          <p class="landing-title f-rajdhani fs-16 my-2">Desenvolvido por <a href="https://novamente.cc/" class="refer-links" target="_blank">Novamente</a></p>
        </ul>
      </div>
    </div>
    <p class="text-white">CNPJ: 38.559.372/0001-25</li>
    <p class="text-success clickable text-uppercase page-mobile" data-bs-toggle="modal" data-bs-target="#contato-nuflow-modal">Fale conosco</p>
    <p class="page-mobile py-5 text-center">Desenvolvido por <a href="https://novamente.cc/" class="refer-links" target="_blank">Novamente</a></p>
  </div>
</footer>
