<div class="navbar navbar-expand-md navbar-light-lg">
  <div class="container">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%# <span class="navbar-toggler-icon"></span> %>
    <i class="text-success fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "AGENDAMENTOS", "/", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "EVENTOS", "/events", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "SEJA UM PARCEIRO", "/partnership", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "SHOP", "https://nuflowshop.com.br/", class: "nav-link" %>
        </li>
        <%= link_to root_path, class: "nav-link" do %>
          <%= image_tag "white_logo.png", class: "navbar-brand" %>
        <% end %>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "DASHBOARD", dashboard_path_for_user(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ACCOUNT SETTINGS", edit_profiles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "FORMAS DE PAGAMENTO", payment_methods_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "text-success nav-link text-decoration-underline" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "LOGIN", new_user_session_path, class: "text-success nav-link text-decoration-underline" %>
        </li>
        <li class="nav-item">
          <%= link_to "CADASTRE-SE", new_user_registration_path, class: "text-success nav-link text-decoration-underline" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
