<div class="first-section-event">
  <%# video_tag "nuflow.mp4", :size => "1920x1080", autoplay: true, muted: :muted, :loop => true, :style=> "z-index: -1" %>
  <div class="container align-self-start">
    <h1>COMPETIÇÕES E DESAFIOS DE<br><span class="text-success">CICLISMO</em>.</h1>
    <p class="page-desktop">Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit, sed do eiusmod tempor... </p>
    <div class="d-flex align-items-center">
      <button class="btn btn-success">CADASTRE-SE AGORA</button>
    </div>
  </div>
</div>

<div class="second-section-event">
  <div class="d-flex justify-content-between mt-5 container mb-3">
    <div class="align-self-center">
      <h2>COMPETIÇÕES <span class="text-success">ATIVAS</em></h2>
    </div>
    <div class="invert-image">
      <%= image_tag 'arrows.png', class:"mobile-arrow"  %>
    </div>
  </div>
  <div class="container page-desktop">
    <% @events.each do |event| %>
      <div class="row mb-5 flex-around bg-dark p-5">
        <div class="image-container col-4">
          <%= link_to event_path(event), class: "" do %>
            <% if event.photo.attached? %>
                <%= image_tag cl_image_path event.photo.key, height: 435, width: 380, crop: :fill%>
              <% else %>
                <%= image_tag 'default.png' %>
            <% end %>
          <% end %>
        </div>
        <div class="col-8">
          <div class="d-flex">
            <div class="flex-grow-1">
              <h3><span class="text-success"><%= event.name %></em></h3>
            </div>
            <div class="">
              <div class="d-flex justify-content-between">
                <div>
                  <i aria-hidden="true" class="fas fa-map-marked-alt"></i>
                  <h5 class="vbar px-2"><%= event.scheduled_start.strftime('%A, %d de %B') %> / <%=  event.scheduled_start.strftime("%H:%M") %></h5>
                </div>
                <div>
                  <i aria-hidden="true" class="fas fa-map-marked-alt"></i>
                  <h5 class="vbar px-2">Localização - <%= event.city.name %>, <%= event.state.acronym %></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="overflow-auto">
            <p class="mb-0 p-fixed-height"><%= event.description.to_plain_text.truncate(1032) %></p>
          </div>
            <div class="d-flex align-items-center mt-5">
              <%= link_to event_path(event), class: "" do %>
                <button class="btn btn-success btn-lg">COMPRAR</button>
              <% end %>
              <p><span class="text-success">Saiba mais</em></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container page-mobile">
    <% @events.each do |event| %>
      <div class="pt-3">
        <%= link_to event_path(event), class: "" do %>
          <% if event.photo.attached? %>
              <%= image_tag cl_image_path event.photo.key, height: 290, crop: :fill %>
            <% else %>
              <%= image_tag 'default.png' %>
          <% end %>
        <% end %>
        </div>
        <div class="bg-dark">
          <div class="d-flex justify-content-between p-2">
            <h3><span class="text-success"><%= event.name.truncate(13) %></em></h3>
            <h4><span class="text-success"><%= event.scheduled_start.strftime('%A, %d de %B') %> / <%=  event.scheduled_start.strftime("%H:%M") %></em></h4>
          </div>
          <div class="p-2">
            <p><%= event.description.to_plain_text.truncate(80) %></p>
            <p>Localização - <%= event.city.name %>, <%= event.state.acronym %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
  