<% if @event.photo.attached? %>
  <% if mobile_device? %>
    <%= cl_image_tag @event.photo.key, crop: :fill, class:"mw-100" %>
  <% else %>
    <div class="flex center around mt-5">
        <div class="event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('<%= @event.photo.url %>')">
      </div>
    </div>
  <% end %>
<% end %>
<div class="page-wrapper">

  <div class="second-section-event-show">
    <h1 class="title align-middle mb-0 text-success "><%= @event.name %></h1>
    <div class="">
      <p class="share-button border border-success border-2 text-success p-3 flex justify-content-center align-items-center clickable" id="copy-paste" data-copy-text="<%= request.url %>"><i class="fa fa-share-alt me-3"></i></i>Compartilhar</p>
    </div>
    <script>
      document.querySelector("#copy-paste").addEventListener("click", (e) => {
        navigator.clipboard.writeText(e.target.dataset.copyText).then((error) => {
          e.target.innerHTML = "Link copiado!"
        })
      });
    </script>

    <div class="d-flex justify-content-between my-5 rectangle br-8 page-desktop ">
      <div class="f-1x flex center around p-4 f-1x">
        <p class="m-0 text-center text-white"><i aria-hidden="true" class="fas fa-book-open px-3"></i><span><%= if @current_batches.present? then " Disponível" else " Esgotado" end %> </span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center text-white"><i aria-hidden="true" class="far fa-calendar-alt pe-3"></i><span> <%= @event.scheduled_start.strftime('%d/%m/%Y') %></span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center text-white"><i aria-hidden="true" class="far fa-clock px-3"></i><span><%=  @event.scheduled_start.strftime("%H:%M") %></span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center text-white"><i aria-hidden="true" class="fas fa-map-marked-alt px-3"></i><span class="text-success"></span><span> <%= @event.city.name %>, <%= @event.state.acronym %> </span></p>
      </div>
    </div>
    <div class="my-3 br-8 page-mobile">
      <p class="m-0 text-left fs-20 text-white d-flex"><i aria-hidden="true" class="far fa-calendar-alt px-3"></i><span> <%= @event.scheduled_start.strftime('%d/%m/%Y') %></span></p>
      <p class="m-0 text-left fs-20 text-white d-flex"><i aria-hidden="true" class="far fa-clock px-3"></i><span><%=  @event.scheduled_start.strftime("%H:%M") %></span></p>
      <p class="m-0 text-left fs-20 text-white d-flex"><i aria-hidden="true" class="fas fa-map-marked-alt px-3"></i><span class="text-success"></span><span> <%= @event.city.name %>, <%= @event.state.acronym %> </span></p>
    </div>

    <% if @events_with_same_experience.present? %>
      <h3 class="title">Datas para a experiência <%= @event.experience %></h3>
      <div class="flex center start flex-wrap gap-24">
        <% @events_with_same_experience.each do |event| %>
          <div class="">
            <%= link_to event_path(event) do %>
              <p class="btn btn-success px-3"><%= event.scheduled_start.strftime("%d/%m") %> até <%= event.scheduled_end.strftime("%d/%m") %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="">
      <div class="my-5 page-desktop">
        <p class="fs-24">
          <%= @event.description %>
        </p>
      </div>
      <div class="page-mobile my-5">
        <p>
          <%= @event.description %>
        </p>
      </div>
    </div>
  </div>

  <% if @event.event_communications.present? %>
    <div class="my-3 flex center around">
      <%= link_to "Ver comunicados do evento", event_event_communications_path(event_id: @event.id), class: "btn btn-success" %>
    </div>
  <% end %>

  <div class="my-3 flex center around">
    <%= link_to "Baixar apresentação do evento", @event.presentation.url, target: :_blank, class: "btn btn-success" if @event.presentation.attached? %>
  </div>

  <h1 class="title mt-4">Ingressos</h1>

  <div class="mb-5" data-bs-spy="scroll" data-bs-target="#scroll-btn" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <% if @current_batches.present?  %>
      <% if @event.group_buy_code.blank? || @event.group_buy_code == params[:group_buy_code] %>
        <% if @event.group_buy %>
          <p class="info-text text-white p-4 br-8 mb-5 mt-3">
            <i class="fa fa-info-circle my-3 pe-2"></i>Essse evento é um evento em grupo. Quando você comprar um ingresso e a compra for confirmada, o evento será reservado para você e apenas pessoas com o link que você compartilhar poderão comprar ingressos para fechar o grupo. Se o grupo não for fechado em 48h, a reserva será cancelada.
          </p>
        <% end %>
        <div  id="buy-section">
          <%= simple_form_for(@order, html: { id: 'order-form' }) do |f| %>
            <react data-component="EventOrderItems" data-event="<%= @event.to_json %>" data-event-batches="<%= @current_batches.to_json %>" data-fee-percentage="<%= @event.absorb_fee ? 0 : @event.fee_percentage %>" data-user="<%= @user.to_json %>"></react>

            <div class="text-center border border-top-0 border-white">
              <%= f.submit "Comprar ingressos", class: "btn btn-success w-100 text-white p-3" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="danger-text p-4 br-8">Esse evento já está reservado para um grupo.</p>
      <% end %>
    <% else %>
      <div id="buy-section">
        <p class="danger-text p-4 br-8">Evento esgotado</p>
      </div>
    <% end %>
  </div>

  <% if @event.sponsors_photos.present? %>
    <div class="my-3">
      <h3 class="title mt-4">Patrocinadores</h3>

      <% @event.sponsors_photos.each do |sponsor_photo| %>
        <%= cl_image_tag sponsor_photo.key, height: 300, crop: :fill, style: "#{mobile_device? ? "width: 100%; margin-bottom: 10px;" : "max-width: 400px" }" %>
      <% end %>
    </div>
  <% end %>

  <% if @event.supporters_photos.present? %>
    <div class="my-3">
      <h3 class="title mt-4">Apoio</h3>

      <% @event.supporters_photos.each do |supporter_photo| %>
        <%= cl_image_tag supporter_photo.key, height: 180, crop: :fill, style: "#{mobile_device? ? "width: 100%; margin-bottom: 10px;" : "max-width: 300px" }" %>
      <% end %>
    </div>
  <% end %>

  <div class="third-section-event-show container bg-dark p-5 text-center text-md-start mt-5">
    <div class="mb-3">
      <h3>SOBRE O ORGANIZADOR</h3>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <%= cl_image_tag @event.partner.logo.key, crop: :fit , class: "br-50 mx-auto d-block mb-5 w-100"%>
      </div>
      <div class="col-sm-12 col-md-10">
        <div>
          <%= link_to partner_path(@event.partner) do %>
            <h3><span class="text-success clickable"><%= @event.partner.name %></span></h3>
          <% end %>
        </div>
        <div>
          <p class="py-2 page-desktop"><%= @event.partner.about.truncate(400) %></p>
          <p class="py-2 page-mobile"><%= @event.partner.about.truncate(200) %></p>
        </div>
        <div class="text-center text-md-start">
          <button class="btn btn-success btn-lg me-0 me-md-5" data-bs-toggle="modal" data-bs-target="#producer-modal">FALE COM O ORGANIZADOR</button>
          <%= link_to partner_path(@event.partner) do %>
            <p class="btn btn-dark btn-lg mt-3 mt-md-0 m-0">VISITAR PÁGINA DO ORGANIZADOR</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="producer-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content bg-darker">
      <div class="modal-body bg-darker p-5">
        <h1 class="text-success">Fale com o organizador</h1>
        <p class="text-white">O organizador nos disponibilizou os seguintes contatos: </p>
          <% if @partner.contact_email.present? %>
            <p class="text-white"><i class="fas fa-envelope pe-4"></i><%= @partner.contact_email %></p>
          <% end %>
          <% if @partner.contact_phone_1.present? %>
            <p class="text-white"><i class="fas fa-phone pe-4"></i><%= @partner.contact_phone_1 %></p>
          <% end %>
          <% if @partner.contact_phone_2.present? %>
            <p class="text-white"><i class="fas fa-phone pe-4"></i><%= @partner.contact_phone_2 %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div id="scroll-btn" class="float-buyer-btn text-success align-middle">
  <a class="border border-success border-2 text-center bg-success text-white m-auto w-50 d-block p-2 btn <%= mobile_device? ? 'h-75 mt-2 mx-auto' : 'h-100 m-auto' %>" href="#buy-section" onclick="scrollToTarget()">
    COMPRAR INGRESSO
  </a>
</div>

<script>
  let isButtonClicked = false;
  window.onscroll = function() { scrollFunction() };

  function scrollFunction() {
    let btn = document.getElementById("scroll-btn");
    let targetDiv = document.getElementById("buy-section");
    let scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
    let divTopPosition = targetDiv.getBoundingClientRect().top;
    let divBottomPosition = targetDiv.getBoundingClientRect().bottom;

    if (isButtonClicked || divTopPosition <= 0) {
      btn.style.opacity = "0";
    } else if (divTopPosition < window.innerHeight) {
      btn.style.opacity = "0";
    } else {
      btn.style.opacity = "1";
    }
  }

  function scrollToTop() {
    document.documentElement.scrollTop = 0;
    document.body.scrollTop = 0;
  }

  function scrollToTarget() {
    isButtonClicked = true;
    let targetDiv = document.getElementById("buy-section");
    targetDiv.scrollIntoView({ behavior: 'smooth' });

    setTimeout(function() {
      isButtonClicked = false;
    }, 3000);
  }

  // Add event listener to hide the button when clicked
  let btn = document.getElementById("scroll-btn");
  btn.addEventListener("click", function() {
    btn.style.opacity = "0";
    scrollToTarget();
  });
</script>
