<div class="page-wrapper">
  <div class="first-section-event-show flex center around">
    <% if @event.photo.attached? %>
      <div class="event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('<%= cl_image_path @event.photo.key, height: 300, crop: :fit %>')">
      </div>
    <% end %>
  </div>

  <div class="second-section-event-show">
    <div class="d-flex align-items-center justify-content-start mt-5">
      <h1 class="title align-middle mb-0 text-success"><%= @event.name %></h1>
      <% if false %>
        <div class="border border-success border-2 d-flex align-items-center justify-content-between px-4 py-2 mx-5">
          <a href="#"><i class="fab fa-whatsapp me-3"></i>Compartilhe</a>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-between my-5 rectangle br-8">
      <div class="page-desktop f-1x flex center around p-4 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-book-open px-3"></i><span><%= if @current_batches.present? then " Disponível" else " Esgotado" end %> </span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="far fa-calendar-alt px-3"></i><span> <%= @event.scheduled_start.strftime('%d/%m/%Y') %></span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="far fa-clock px-3"></i><span><%=  @event.scheduled_start.strftime("%H:%M") %></span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-map-marked-alt px-3"></i><span class="text-success"></span><span> <%= @event.city.name %>, <%= @event.state.acronym %> </span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x page-desktop">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-biking px-3"></i><span>Enduro</span></p>
      </div>
    </div>

    <div class="">
      <div class="my-5 page-desktop">
        <p class="fs-24">
          <%= @event.description %>
        </p>
      </div>
      <div class="page-mobile my-5">
        <p>
          <%= @event.description %>
        </p>
      </div>
    </div>
  </div>

  <div class="my-3 flex center around">
    <%= link_to "Baixar apresentação do evento", @event.presentation.url, target: :_blank, class: "btn btn-success" if @event.presentation.attached? %>
  </div>

  <h1 class="title mt-4">Ingressos</h1>

  <div class="mb-5">
    <% if @current_batches.present? %>
      <%= simple_form_for(@order) do |f| %>
        <react data-component="EventOrderItems" data-event="<%= @event.to_json %>" data-event-batches="<%= @current_batches.to_json %>" data-fee-percentage="<%= @event.absorb_fee ? 0 : @event.fee_percentage %>"></react>

        <div class="text-center">
          <%= f.submit "Comprar ingressos", class: "btn btn-success text-white mt-5 p-3" %>
        </div>
      <% end %>
    <% else %>
      <p class="danger-text p-4 br-8">Evento esgotado</p>
    <% end %>
  </div>

  <% if @event.sponsors_photos.present? %>
    <div class="my-3">
      <h3 class="title mt-4">Patrocinadores</h3>

      <% @event.sponsors_photos.each do |sponsor_photo| %>
        <%= cl_image_tag sponsor_photo.key, height: 300, crop: :fill, style: "#{mobile_device? ? "width: 100%; margin-bottom: 10px;" : "max-width: 400px" }" %>
      <% end %>
    </div>
  <% end %>

  <% if @event.supporters_photos.present? %>
    <div class="my-3">
      <h3 class="title mt-4">Apoio</h3>

      <% @event.supporters_photos.each do |supporter_photo| %>
        <%= cl_image_tag supporter_photo.key, height: 180, crop: :fill, style: "#{mobile_device? ? "width: 100%; margin-bottom: 10px;" : "max-width: 300px" }" %>
      <% end %>
    </div>
  <% end %>

  <div class="third-section-event-show container bg-dark p-5 text-center text-md-start mt-5">
    <div class="mb-3">
      <h3>SOBRE O ORGANIZADOR</h3>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <%= cl_image_tag @event.partner.logo.key, crop: :fit , class: "br-50 mx-auto d-block mb-5 w-100"%>
      </div>
      <div class="col-sm-12 col-md-10">
        <div>
          <%= link_to partner_path(@event.partner) do %>
            <h3><span class="text-success clickable"><%= @event.partner.name %></span></h3>
          <% end %>
        </div>
        <div>
          <p class="py-2 page-desktop"><%= @event.partner.about.truncate(400) %></p>
          <p class="py-2 page-mobile"><%= @event.partner.about.truncate(200) %></p>
        </div>
        <div class="text-center text-md-start">
          <button class="btn btn-success btn-lg me-0 me-md-5" data-bs-toggle="modal" data-bs-target="#producer-modal">FALE COM O ORGANIZADOR</button>
          <%= link_to partner_path(@event.partner) do %>
            <p class="btn btn-dark btn-lg mt-3 mt-md-0 m-0">VISITAR PÁGINA DO ORGANIZADOR</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="producer-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content bg-darker">
      <div class="modal-body bg-darker p-5">
        <h1 class="text-success">Fale com o organizador</h1>
        <p class="text-white">O organizador nos disponibilizou os seguintes contatos: </p>
          <% if @partner.contact_email.present? %>
            <p class="text-white"><i class="fas fa-envelope pe-4"></i><%= @partner.contact_email %></p>
          <% end %>
          <% if @partner.contact_phone_1.present? %>
            <p class="text-white"><i class="fas fa-phone pe-4"></i><%= @partner.contact_phone_1 %></p>
          <% end %>
          <% if @partner.contact_phone_2.present? %>
            <p class="text-white"><i class="fas fa-phone pe-4"></i><%= @partner.contact_phone_2 %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>
