<%= render 'shared/navbar' %>
<div class="page-wrapper">
  <h1 class="title"><%= @event.name %></h1>
  <% if @event.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, height: 300, crop: :fill %>')">
    </div>
  <% end %>

  <p class="fs-18 text-white">
    <%= @event.description %>
  </p>
  
  <% if @current_batch.present? %>
    <div class="bg-primary-color flex center around p-4 br-8 my-4">
      <p class="f-24 fw-700 m-0"><%= @current_batch.name %></p>
      <p class="f-24 m-0"><%= number_to_currency(@current_batch.price, unit: "R$", separator: ",", delimiter: ".") %></p>
    </div>

    <% if @best_membership_with_discount.present? %>
      <div class="success-text flex center around p-4 br-8 my-4">
        <p class="f-24 fw-700 m-0">Sua assinatura <%= @best_membership_with_discount.membership.name %> te oferece um desconto de <%= number_to_percentage(@best_membership_with_discount.discount * 100, precision: 1) %> para este evento!</p>
      </div>
    <% end %>

    <%= simple_form_for([@event, @qrcode]) do |f| %>
      <% @event.event_questions.order(:order).each do |event_question| %>
        <div class="my-4">
          <input
            type="hidden"
            name="event_user_answers[][order]"
            value="<%= event_question.order %>"
          />
          <input
            type="hidden"
            name="event_user_answers[][optional]"
            value="<%= event_question.optional %>"
          />
          <% if event_question.multiple_choice? %>

            <p><%= event_question.prompt %></p>
            <select
              name="event_user_answers[][answer]"
            >
              <% event_question.options.each do |option| %>
                <option value="<%= option %>"><%= option %></option>
              <% end %>
            </select>
          <% else %>
            <p><%= event_question.prompt %></p>
            <input
              class="form-control my-2 f-60"
              type="text"
              name="event_user_answers[][answer]"
              placeholder="Sua resposta..."
            />
          <% end %>
        </div>
      <% end %>

      <% if @current_price > 0 %>
        <%= f.submit "Comprar: #{number_to_currency(@current_price, unit: "R$", separator: ",", delimiter: ".")}", class: "btn btn-primary mt-5 w-100" %>
      <% else %>
        <%= f.submit "Retirar ingresso gratuitamente", class: "btn btn-primary mt-5 w-100" %>
      <% end %>
    <% end %>
  <% else %>
    <p class="danger-text p-4 br-8">Evento esgotado</p>
  <% end %>
</div>
