<div class="page-wrapper">
  <div class="first-section-event-show">
    <% if @event.photo.attached? %>
      <div class="event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, height: 300, crop: :fit %>')">
      </div>
    <% end %>
  </div>

  <div class="second-section-event-show">
    <div class="d-flex align-items-center justify-content-start mt-5">
      <h1 class="title align-middle mb-0 text-success"><%= @event.name %></h1>
      <div class="border border-success border-2 d-flex align-items-center justify-content-between px-4 py-2 mx-5">
        <a href="#"><i class="fab fa-whatsapp me-3"></i>Compartilhe</a>
      </div>
    </div>
    <div class="d-flex justify-content-between my-5 rectangle br-8">
      <div class="page-desktop f-1x flex center around p-4 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-book-open px-3"></i><span><%= if @current_batches.present? then " Disponível" else " Esgotado" end %> </span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="far fa-calendar-alt px-3"></i><span> <%= @event.scheduled_start.strftime('%d/%m/%Y') %></span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="far fa-clock px-3"></i><span><%=  @event.scheduled_start.strftime("%H:%M") %></span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-map-marked-alt px-3"></i><span class="text-success"></span><span> <%= @event.city.name %>, <%= @event.state.acronym %> </span></p>
      </div>
      <div class="vbar2 flex center around p-4 f-1x page-desktop">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-biking px-3"></i><span>Enduro</span></p>
      </div>
    </div>

    <div class="">
      <div class="my-5 page-desktop">
        <p class="fs-24">
          <%= @event.description %>
        </p>
      </div>
      <div class="page-mobile my-5">
        <p>
          <%= @event.description %>
        </p>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <% if @current_batches.present? %>
      <%= simple_form_for(@order) do |f| %>
        <react data-component="EventOrderItems" data-event="<%= @event.to_json %>" data-event-batches="<%= @current_batches.to_json %>" data-fee-percentage="<%= @event.partner.fee_percentage %>"></react>

        <%= f.submit "Comprar ingressos", class: "btn btn-success text-white mt-5 w-100 p-3" %>
      <% end %>
    <% else %>
      <p class="danger-text p-4 br-8">Evento esgotado</p>
    <% end %>
  </div>

  <div class="third-section-event-show container bg-dark p-5">
    <div class="mb-3">
      <h3>SOBRE O ORGANIZADOR</h3>
    </div>
    <div class="d-flex">
      <div class="col-sm-12 col-md-2">
        <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
      </div>
      <div class="">
        <div>
          <%= link_to partner_path(@event.partner) do %>
            <h3><span class="text-success clickable"><%= @event.partner.name %></span></h3>
          <% end %>
        </div>
        <div>
          <p class="py-2 page-desktop"><%= @event.partner.about.truncate(400)  %> </p>
          <p class="py-2 page-mobile"><%= @event.partner.about.truncate(200)  %> </p>
        </div>
        <div class="d-flex gap-24 align-items-center justify-content-start">
          <a class="btn btn-success btn-lg fs-20 px-5" href="">FALE COM O ORGANIZADOR</a>
          <%= link_to partner_path(@event.partner) do %>
            <p class="m-0"><span class="btn btn-dark btn-lg px-5">Visitar página do organizador</span></h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

