<div class="">
  <div class="first-section-event-show">
    <% if @event.photo.attached? %>
      <div class="event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, height: 300, crop: :fit %>')">
      </div>
    <% end %>
  </div>

  <div class="second-section-event-show container">
    <div class="row row-cols-auto justify-content-start mt-5">
      <div class="align-self-center col align-middle">
        <h1 class="title align-middle mb-0"><em><%= @event.name %></em></h1>
      </div>
      <div class="share-button align-self-center ">
        <a href="#"><i class="fab fa-whatsapp">Compartilhe</i></a>
      </div>
    </div>
    <div class="d-flex justify-content-between my-5 rectangle br-8">
      <div class="page-desktop f-1x flex center around p-3 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-book-open px-3"></i><em>Status:</em><span><%= if @current_batches.present? then " Disponível" else " Esgotado" end %> </span></p>
      </div>
      <div class="vbar2 flex center around p-3 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="far fa-clock px-3"></i><em>Horário: </em><span><%=  @event.scheduled_start.strftime("%H:%M") %></span></p>
      </div>
      <div class="vbar2 flex center around p-3 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="far fa-calendar-alt px-3"></i><em>Data: </em><span> <%= @event.scheduled_start.strftime('%A, %d de %B de %Y') %></span></p>
      </div>
      <div class="vbar2 flex center around p-3 f-1x">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-map-marked-alt px-3"></i><em>Localização:</em><span> <%= @event.city.name %>, <%= @event.state.acronym %> </span></p>
      </div>
      <div class="vbar2 flex center around p-3 f-1x page-desktop">
        <p class="m-0 text-center"><i aria-hidden="true" class="fas fa-biking px-3"></i><em>Modalidade:</em><span> Enduro</span></p>
      </div>
    </div>

    <div class="">
      <div class="my-5 page-desktop">
        <p class="fs-24">
          <%= @event.description %>
        </p>
      </div>
      <div class="page-mobile my-5">
        <p>
          <%= @event.description %>
        </p>
      </div>
    </div>
  </div>
  <div class="mb-5 container">
    <% if @current_batches.present? %>
      <%= simple_form_for(@order) do |f| %>
        <react data-component="EventOrderItems" data-event="<%= @event.to_json %>" data-event-batches="<%= @current_batches.to_json %>" data-fee-percentage="<%= @event.partner.fee_percentage %>"></react>

        <%= f.submit "Comprar ingressos", class: "btn btn-success mt-5 w-100 p-3" %>
      <% end %>
    <% else %>
      <p class="danger-text p-4 br-8">Evento esgotado</p>
    <% end %>
  </div>

  <div class="third-section-event-show container bg-dark p-5">
    <div class="mb-3">
      <h3>SOBRE O ORGANIZADOR</h3>
    </div>
    <div class="d-flex">
      <div class="col-sm-12 col-md-2">
        <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
      </div>
      <div class="">
        <div>
          <h3><em><%= @event.partner.name %></em></h3>
        </div>
        <div>
          <p class="py-2 page-desktop"><%= @event.partner.about.truncate(400)  %> </p>
          <p class="py-2 page-mobile"><%= @event.partner.about.truncate(200)  %> </p>
        </div>
        <div>
          <a class="btn-special fs-24" href="">FALE COM O ORGANIZADOR</a>
        </div>
      </div>
    </div>
  </div>
</div>

