<div class="first-section-event-show">
</div>

<div class="second-section-event-show">
  <div class="row justify-content-start container my-5">
    <div class="align-self-center col">
      <h1><em>Competição 1</em></h1>
    </div>
    <div class="share-button ml-5 col">
      <a href="#"><i class="fab fa-whatsapp">Compartilhe</i></a>
    </div>
  </div>
  <div class="container d-flex justify-content-start my-5 rectangle">
    <div class="vbar">
      <p><i aria-hidden="true" class="fas fa-book-open"></i><em>Status:</em><span> Inscrições encerradas</span></p>
    </div>
    <div class="vbar pl-1">
      <p><i aria-hidden="true" class="far fa-clock"></i><em>Horário:</em><span> 8:00 am</span></p>
    </div>
    <div class="vbar">
      <p><i aria-hidden="true" class="far fa-calendar-alt"></i><em>Data:</em><span> 02/02/2022</span></p>
    </div>
    <div class="vbar">
      <p><i aria-hidden="true" class="fas fa-map-marked-alt"></i><em>Localização:</em><span> Nova Lima/MG</span></p>
    </div>
    <div class="vbar">
      <p><i aria-hidden="true" class="fas fa-biking"></i><em>Modalidades:</em><span> Enduro</span></p>
    </div>
  </div>

  <div class="container">
    <div class="my-5">
      <p class="fs-24">
      Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="my-5">
      <p>
      option 1<br>
      option 2<br>
      option 3
      </p>
    </div>
    <div class="page-desktop my-5">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
      </p>
    </div>
  </div>
</div>

<div class="third-section-event-show container bg-dark p-5">
  <div class="mb-3">
    <h3>SOBRE O ORGANIZADOR</h3>
  </div>
  <div class="d-flex">
    <div class="col-2">
      <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
    </div>
    <div>
      <div>
        <h3><em>Organizador 1</em></h3>
      </div>
      <div>
        <p class="py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices nulla bibendum velit non, felis elit nisl. Id sit arcu purus diam urna mauris lobortis eget vivamus. Donec pellentesque faucibus non lectus cras arcu, sed. Nullam integer dictum molestie pellentesque vivamus lectus. Convallis.</p>
      </div>
      <div>
        <a class="btn-special" href="">FALE COM O ORGANIZADOR</a>
      </div>
    </div>
  </div>
</div>

<div class="page-wrapper">
  <h1 class="title"><%= @event.name %></h1>
  <% if @event.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, height: 300, crop: :fit %>')">
    </div>
  <% end %>

  <p class="fs-18 text-white">
    <%= @event.description %>
  </p>
  
  <% if @current_batches.present? %>
    <%= simple_form_for(@order) do |f| %>
      <react data-component="EventOrderItems" data-event="<%= @event.to_json %>" data-event-batches="<%= @current_batches.to_json %>" data-fee-percentage="<%= @event.partner.fee_percentage %>"></react>

      <%= f.submit "Comprar ingressos", class: "btn btn-primary mt-5 w-100 p-3" %>
    <% end %>
  <% else %>
    <p class="danger-text p-4 br-8">Evento esgotado</p>
  <% end %>
</div>
