<div class="payment-confirmed vh-100 success-text hide flex center around">
  <div class="p-5 flex center column">
    <i class="fas fa-thumbs-up fs-36 pr-4 mb-4"></i>
    <h3>Pagamento confirmado!</h3>
    <p>Seus passes foram gerados com sucesso. Você já pode acessá-los no seu dashboard.</p>
    <%= link_to dashboard_path_for_user(current_user), class: "after-payment-button-link" do %>
      <p class="btn btn-dark w-100 p-2 px-5 br-8">Ver meus passes</p>
    <% end %>
  </div>
</div>
<div class="payment-container page-wrapper" data-order-id="<%= @order.id %>">
  <div class="my-5">
    <h1 class="title">Pagamento do pedido</h1>

    <p>Ao realizar o pagamento da fatura abaixo utilizando PIX ou Cartão de Crédito, os passes abaixo serão gerados:</p>

    <% if @order.coupon.present? %>
      <p class="m-0 bg-success text-white p-4 br-8 mb-3 mt-3">
        <i class="fa fa-info-circle my-3 pe-2"></i>Cupom de desconto aplicado: <%= @order.coupon.discount_display %> por passe.
      </p>
    <% end %>

    <table>
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col" class="w-30">Nome do passe</th>
          <th scope="col">Identificação</th>
          <th scope="col">Preço</th>
          <th scope="col">Descontos</th>
          <th scope="col">Taxas</th>
          <th scope="col">Total do passe</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each_with_index do |order_item, index| %>
        <tr>
          <td data-label="Item">#<%= index + 1 %></td>
          <td data-label="Descrição"><%= order_item.full_description %></td>
          <td data-label="Identificação">
            <p class="m-0"><%= order_item.identification_name %></p>
            <p class="m-0"><%= order_item.identification_cpf %></p>
          </td>
          <td data-label="Valor"><%= display_price(order_item.price_in_cents) %></td>
          <td data-label="Descontos">
            - <%= display_price(order_item.discount_value_in_cents) %>
          </td>
          <td data-label="Taxas">
            + <%= display_price(order_item.displayed_fee_value_in_cents) %>
          </td>
          <td data-label="Total do passe">
            <%= display_price(order_item.total_in_cents) %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td data-label=""></td>
          <td data-label=""></td>
          <td data-label=""></td>
          <td data-label=""></td>
          <td data-label=""></td>
          <% if !mobile_device? %>
            <td data-label="">Total: </td> 
          <% end %>
          <td data-label="Total"><%= display_price(@order.total_in_cents) %></td>
        </tr>
      </tbody>
    </table>

    <nav>
      <div class="nav nav-tabs underlined mt-5" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-pix-tab" data-bs-toggle="tab" data-bs-target="#nav-pix" type="button" role="tab" aria-controls="nav-pix" aria-selected="true">PIX</button>
        <button class="nav-link" id="nav-credit-card-tab" data-bs-toggle="tab" data-bs-target="#nav-credit-card" type="button" role="tab" aria-controls="nav-credit-card" aria-selected="false">CARTÃO DE CRÉDITO</button>
      </div>
    </nav>

    <div class="tab-content mt-5" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-pix" role="tabpanel" aria-labelledby="nav-pix-tab">
        <p class="m-0 bg-primary text-white p-4 br-8 mb-3">
          <i class="fa fa-info-circle my-3 pe-2"></i>Para pagar com PIX, scaneie o QR Code com o aplicativo do seu banco ou clique em "Clique aqui para copiar o código PIX", pague no aplicativo do seu banco, e retorne aqui para acessar seus passes.
        </p>

        <div class="flex center around column">
          <div class="bg-white p-5">
            <img src="<%= @order.invoice_pix_qrcode_url %>" alt="" class="w-100 h-100">
          </div>
          <p class="btn btn-success px-5 mt-4" id="pix-copy-paste" data-copy-text="<%= @order.invoice_pix_qrcode_text %>">Clique aqui para copiar o código PIX</p>
        
          <p>Ou então copie o código abaixo:</p>

          <div class="flex center around">
            <p class="w-50" style="overflow-wrap: break-word;"><%= @order.invoice_pix_qrcode_text %></p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade show" id="nav-credit-card" role="tabpanel" aria-labelledby="nav-credit-card-tab">
        <div class="mb-5">
          <% if @order.related_entity.class == Event && @order.related_entity.allow_installments %>
            <h3 class="text-success">Parcelamento</h3>
            <select name="number_of_installments" id="select-number-of-installments" class="mx-5">
              <% @order.installment_options.each do |installment_option| %>
                <option value="<%= installment_option[:count] %>"><%= installment_option[:count] %>x de <%= display_price(installment_option[:value_in_cents]) %> (Total de <%= display_price(installment_option[:value_in_cents] * installment_option[:count]) %>)</option>
              <% end %>
            </select>
          <% end %>

          <script>
            const selectNumberOfInstallmets = document.querySelector("#select-number-of-installments")
            selectNumberOfInstallmets.addEventListener("change", (e) => {
              document.querySelectorAll(".link-number-of-installments").forEach((link) => {
                const currentHref = link.href
                link.href = currentHref.replace(/number_of_installments=\d+/, `number_of_installments=${e.target.value}`)
              })
              document.querySelector("#input-number-of-installments").value = e.target.value
            })
          </script>
        </div>
        
        
        <% @payment_methods.each do |payment_method| %>
          <div class="border p-3 br-8 mb-4 row">
            <div class="col-12 col-md-7 my-3">
              <p class="m-0"><%= payment_method.description %></p>
              <p class="m-0"><%= payment_method.data["display_number"] %></p>
              <p class="m-0"><%= payment_method.data["month"] %>/<%= payment_method.data["year"] %></p>
            </div>
            <div class="col-12 col-md-5 flex center around my-3">
              <%= link_to order_pay_with_card_path(id: @order.id, customer_payment_method_id: payment_method.id, number_of_installments: 1), method: :post, class: "text-white m-0 p-0 mb-2 link-number-of-installments" do %>
                <p class="w-100 btn-success m-0 p-0 text-center p-2 br-8 m-0 px-5">Pagar com esse cartão</p>
              <% end %>
            </div>
          </div>
        <% end %>

        <h3 class="text-success">Pagar com novo cartão</h3>
        <div class="flex center around">
        <form id="payment-form" class="w-90" action="<%= order_pay_with_card_path %>" method="post">
          <% if params[:return_url].present? %>
            <input type="hidden" name="return_url" value="<%= params[:return_url] %>">
          <% end %>

          <input class="d-none" name="number_of_installments" id="input-number-of-installments" type="hidden" value="1" />

          <div class="row">
            <div class="col-12 col-md-6">
              <input class="form-control mb-2 credit_card_number" autocomplete="cc-number" data-iugu="number" placeholder="Número do Cartão" type="text" value="" />
            </div>
            <div class="col-12 col-md-6">
              <input class="form-control mb-2 credit_card_cvv" autocomplete="cc-csc" data-iugu="verification_value" placeholder="CVV" type="text" value="" />
            </div>
            <div class="col-12 col-md-6">
              <input class="form-control mb-2 credit_card_name" data-iugu="full_name"autocomplete="cc-name" placeholder="Titular do Cartão" type="text" value="" />
            </div>
            <div class="col-12 col-md-6">
              <input class="form-control mb-2 mask-credit-card-expiration credit_card_expiration" autocomplete="cc-exp" data-iugu="expiration" placeholder="MM/AA" type="text" value="" />
            </div>
          </div>

          <div class="token-area d-none">
            <label for="token">Token do Cartão de Crédito - Enviar para seu Servidor</label>
            <input type="text" name="token" id="token" value="" readonly="true" size="64" style="text-align:center" />
          </div>

          <div className="flex align-items-center gap-12 my-3 f-20 mt-3">
            <input
              type="checkbox"
              name="save_card"
            />
            <span className="text-white fs-24">Salvar cartão para facilitar compras futuras</span>
          </div>
            
          <div class="w-100 flex center around my-4">
            <button id="submit-button" type="submit" class="btn btn-success px-5">Pagar</button>
          </div>   
        </form>
      </div>
      </div>
    </div>
  </div>

  <% if @order_error %>
    <p class="danger-text">
      <i class="fas fa-exclamation-triangle mr-3 p-5 fs-30"></i>
      Ocorreu um erro no nosso provedor faturamento. Tente novamente amanhã.
    </p>
  <% end %>
</div>

<script>
  document.querySelector("#pix-copy-paste").addEventListener("click", (e) => {
    navigator.clipboard.writeText(e.target.dataset.copyText).then((error) => {
      e.target.innerHTML = "Copiado!"
    })  
  });
</script>
