<div class="first-section-home">
  <div class="flex center around h-100 w-100">
    <div class="<%= mobile_device? ? "w-90" : "w-80" %>">
      <div class="spacer-100 page-desktop"></div>
      <h1 class="text-center">AS MELHORES<br><span class="text-success">EXPERIÊNCIAS DE CICLISMO</span>.</h1>
      <p class="text-white text-center">Competições, eventos, agendamentos e assinaturas de pistas e bike parks: todas experiências de ciclismo você encontra aqui!</p>
      <% if false %>
        <div class="input-group my-4 text-center">
          <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Eventos, competições, pistas, bike parks, etc..." %>" aria-label="Eventos, competições, pistas, bike parks, etc..." aria-describedby="button-addon2">
          <button class="btn btn-success px-2 px-md-3 text-white text-center" type="button" id="button-addon2">ENCONTRAR EXPERIÊNCIAS</button>
        </div>
        <div class="text-center">
          <%= link_to partnership_path do %>
            <button class="btn btn-dark border border-success text-success">SEJA UM PARCEIRO</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="second-section-home container">
  <div class="d-flex justify-content-between mt-5 container mb-3 mobile-arrow">
    <div class="align-self-center">
      <h3>O QUE VOCÊ <span class="text-success">PROCURA?</span></h3>
    </div>
    <div class="invert-image">
      <%= image_tag 'arrows.png', class:"mobile-arrow"  %>
    </div>
  </div>
  <div class="row row-cols-1">
    <%= link_to partners_path, class: "col-12 col-md-6 mb-2" do %>
      <div class="col h-100">
        <div class="card bg-dark h-100 d-flex justify-content-center">
          <div class="row">
            <div class="col-5 align-self-center">
                <%= image_tag 'race.png', class:"img-fluid", style: "height: 220, crop: :fill" %>
            </div>
            <div class="col-7 card-body text-center d-flex align-items-center">
              <div>
                <h4 class="text-success">PISTAS E BIKE PARKS</h4>
                <p class="text-white">Encontre pistas e bike parks e garanta seu acesso, agendamento e/ou mensalidade.</p>
                <p class="btn btn-success">VEJA AS PISTAS E BIKE PARKS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to partners_path, class: "col-12 col-md-6" do %>
      <div class="col h-100">
        <div class="card bg-dark h-100 d-flex justify-content-center">
          <div class="row">
            <div class="col-5 align-self-center">
              <%= image_tag 'calendar.png', class:"img-fluid", style: "height: 220, crop: :fill" %>
            </div>
            <div class="col-7 card-body text-center d-flex align-items-center">
              <div>
                <h4 class="text-success">Cicloviagens</h4>
                <p class="text-white">Descubra percursos e destinos incríveis para explorar de bike.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end if false %>
    <%= link_to events_path, class: "col-12 col-md-6" do %>
      <div class="col h-100">
        <div class="card bg-dark h-100 d-flex justify-content-center">
          <div class="row">
            <div class="col-5 align-self-center">
              <%= image_tag 'flag.png', class:"img-fluid", style: "height: 220, crop: :fill" %>
            </div>
            <div class="col-7 card-body text-center d-flex align-items-center">
              <div>
                <h4 class="text-success">COMPETIÇÕES E EVENTOS</h4>
                <p class="text-white">Se inscreva em competições, pedaladas, desafios e outros eventos de ciclismo.</p>
                <p class="btn btn-success">VEJA AS COMPETIÇÕES E EVENTOS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="spacer-50"></div>

<div class="fourth-section-home">
  <div class="d-flex justify-content-between mt-5 container mb-3">
    <div>
      <%= image_tag 'arrows.png', class:"mobile-arrow"  %>
    </div>
    <div class="align-self-center">
      <h3>PRÓXIMOS <span class="text-success">EVENTOS</span></h3>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <% @events.each do |event| %>
        <%= link_to event_path(event), class: "col-sm-12 col-md-4" do %>
          <div class="event-card-home mb-4">
            <% if event.photo.attached? %>
                <%= cl_image_tag event.photo.key, crop: :pad, class: "w-100 h-50" %>
              <% else %>
                <%= image_tag 'default.png', crop: :pad, class: "h-60" %>
            <% end %>
            <div class="bg-dark p-3 h-40 flex center around position-relative">
              <div>
                <div class="d-flex justify-content-between">
                  <h4 class="text-success flex-fill fs-24 font-bebas-neue"><%= event.name %></h4>
                <div>
                </div>
                </div>
                <div>
                  <p class="text-white fs-16"><%= event.description.to_plain_text.truncate(80) %></p>
                  <p class="text-white fs-16">Localização - <%= event.city.name %>, <%= event.state.acronym %></p>
                  <p class="text-success h5 m-3 p-2 bg-darker br-8 position-absolute bottom-0 end-0"><%= event.scheduled_start.strftime('%d/%m/%Y - %H:%M') %> </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if @events.present? %>
      <div class="text-center mt-0 mt-md-5 mb-4 mb-mb-0">
        <%= link_to "VER TODOS OS EVENTOS", events_path, class: "btn btn-success" %>
      </div>
    <% else %>
      <p class="m-0 text-white mb-5">Nenhum evento programado até o momento.</p>
    <% end %>
  </div>
</div>

<div class="spacer-50"></div>

<div class="fifth-section-home mt-5 mt-md-0 px-3">
  <div class="container">
    <h2>GERENCIE <span class="text-success">EVENTOS / BIKEPARKS</span></h2>
    <p class="mb-2">Faça a gestão completa do seus eventos e espaços:</p>
    <ul>
      <li class="mb-2">Crie competições, cicloviagens, pedaladas, treinos, desafios ou qualquer outro tipo de evento. </li>
      <li class="mb-2">Cadastre seu espaço e ofereça acessos, agendamentos e planos de mensalidade. </li>
    </ul>
    <div class="flex center around">
      <%= link_to partnership_path do %>
        <button class="btn btn-success me-2 mt-3">SEJA UM PARCEIRO</button>
      <% end %>
    </div>
  </div>
  <div class="spacer-100 page-desktop"></div>
  <div class="spacer-50 page-mobile"></div>
</div>
