<div class="first-section-home">
  <div class="flex center around h-100 w-100">
    <div class="<%= mobile_device? ? "w-90" : "w-70" %>">
      <div class="spacer-100 page-desktop"></div>
      <h1 class="text-center">ENCONTRE AS MELHORES<br><span class="text-success">EXPERIÊNCIAS DE CICLISMO</span>.</h1>
      <p class="text-white text-center px-0 mx-0 px-md-5 mx-md-5">Competições, eventos, agendamentos e assinaturas de pistas e bike parks: todas experiências de ciclismo você encontra aqui! </p>
      <div class="input-group my-5">
        <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Eventos, competições, pistas, bike parks, etc..." %>" aria-label="Eventos, competições, pistas, bike parks, etc..." aria-describedby="button-addon2">
        <button class="btn btn-success btn-sm px-2 px-md-5 text-white" type="button" id="button-addon2">ENCONTRAR EXPERIÊNCIAS</button>
      </div>
    </div>
  </div>
</div>

<div class="second-section-home">
  <div class="d-flex justify-content-between mt-5 container mb-3 mobile-arrow">
    <div>
      <%= image_tag 'arrows.png', class:"mobile-arrow"  %>
    </div>
    <div class="align-self-center">
      <h2>CATEGORIAS <em>BIKE PARK</em></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 p-3">
        <div class="img-spot">
          <h3><em>INSCRIÇÕES E COMPETIÇÕES</em></h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... </p>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 p-3">
        <div class="img-spot">
          <h3><em>AULAS E AGENDAMENTOS</em></h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... </p>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 p-3">
        <div class="img-spot">
          <h3><em>PISTAS E BIKE PARKS</em></h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... </p>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 p-3">
        <div class="img-spot">
          <h3><em>ASSINATURAS</em></h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor... </p>
      </div>
    </div>
  </div>
</div>

<div class="third-section-home">
  <div class="container">
    <h2>SEJA NOSSO <em>PARCEIRO</em></h2>
    <p class="page-desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit mattis quam placerat felis vitae nisl, sed. Vitae purus morbi maecenas odio amet amet, aliquet hac bibendum. Id sapien dis pharetra tellus. Scelerisque id laoreet gravida feugiat in sollicitudin elit, a. Nulla dictum quis habitasse id arcu velit duis. A nunc tortor, tellus mauris ut nec semper.
    Aliquam, nibh erat fringilla neque, a vitae placerat. Est amet, nulla mi in quam massa enim mauris. Volutpat a purus facilisi euismod aliquet quam amet tempor viverra. Cursus ante arcu est, lectus. Purus ac vivamus dignissim cursus. Quisque sed vel pellentesque eget turpis pharetra, varius integer tincidunt. Aliquam sed et pellentesque auctor tempor libero. Urna luctus fames scelerisque turpis euismod pretium vel in ullamcorper. Est senectus neque elementum congue luctus elit. Mollis nibh arcu tortor sit lorem.</p>
    <p class="page-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rhoncus netus cursus auctor nulla lorem dui nunc sollicitudin sagittis. Arcu diam duis condimentum suspendisse tincidunt viverra adipiscing vel.</p>
    <button class="btn btn-success">ENTENDA COMO FUNCIONA</button>
  </div>
</div>

<div class="fourth-section-home">
  <div class="d-flex justify-content-between mt-5 container mb-3">
    <div>
      <%= image_tag 'arrows.png', class:"mobile-arrow"  %>
    </div>
    <div class="align-self-center">
      <h2>ÚLTIMAS <em>COMPETIÇÕES</em></h2>
    </div>
  </div>

  <div class="container mt-5 d-none d-sm-none d-md-none d-lg-none d-xl-block">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-sm-12 col-md-6 col-lg-3 p-3">
          <%= link_to event_path(event), class: "" do %>
            <% if event.photo.attached? %>
                <%= image_tag cl_image_path event.photo.key, height: 220, crop: :fill %>
              <% else %>
                <%= image_tag 'default.png' %>
            <% end %>
          <% end %>
          <div class="bg-dark">
            <div class="d-flex justify-content-between p-2">
              <h3><em><%= event.name.truncate(13) %></em></h3>
              <h4><em><%= event.scheduled_start.strftime('%A, %d de %B') %> / <%=  event.scheduled_start.strftime("%H:%M") %></em></h4>
            </div>
            <div class="p-2">
              <p><%= event.description.to_plain_text.truncate(80) %></p>
              <p>Localização - <%= event.city.name %>, <%= event.state.acronym %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-lg-none carousel-mobile">
    <div id="carouselExampleCaptions" class="carousel slide .d-none .d-sm-block .d-md-none" data-bs-ride="carousel"  data-bs-interval="false">
      
        <div class="carousel-inner">
          <% @events.each do |event| %>
            <% if @events.first.id == event.id %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
            <%= link_to event_path(event), class: "" do %>
              <% if event.photo.attached? %>
                  <%= image_tag cl_image_path event.photo.key, height: 290, crop: :fill %>
                <% else %>
                  <%= image_tag 'default.png' %>
              <% end %>
            <% end %>
              <div class="bg-dark">
                <div class="p-2">
                  <h3><em><%= event.name.truncate(13) %></em></h3>
                  <h4><em><%= event.scheduled_start.strftime('%A, %d de %B') %> / <%=  event.scheduled_start.strftime("%H:%M") %></em></h4>
                </div>
                <div class="p-2">
                  <p><%= event.description.to_plain_text.truncate(80) %></p>
                  <p>Localização - <%= event.city.name %>, <%= event.state.acronym %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

<div class="fifth-section-home">
  <div class="container align-self-center">
    <div class="row">
      <div class="col-md-12">
        <h2>CONHEÇA O <em>NUFLOW PASS</em></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rhoncus netus cursus auctor nulla lorem dui nunc sollicitudin sagittis. Arcu diam duis condimentum suspendisse tincidunt viverra adipiscing vel. At condimentum neque non, at semper lacus. Urna et vel amet arcu feugiat eu, sodales. Nec, amet elementum convallis elit. Morbi integer integer quis imperdiet tellus fermentum lectus. Placerat malesuada nisl, egestas nisl cursus eros sit faucibus at.</p>
        <button class="btn btn-success">ENTENDA COMO FUNCIONA</button>
      </div>
    </div>
  </div>
</div>
