<div class="first-section-partnership">
  <%# video_tag "nuflow.mp4", :size => "1920x1080", autoplay: true, muted: :muted, :loop => true, :style=> "z-index: -1" %>
  <div class="container align-self-start">
    <h1>GERENCIE<br><span class="text-success">SEUS EVENTOS E EXPERIÊNCIAS.</span></h1>
    <p class="page-desktop text-white">Faça a gestão completa dos seus bike parks,<br>  eventos e cicloviagens com autonomia e<br> praticidade.</p>
    <div class="d-flex align-items-center">
      <button class="btn btn-success px-5">SEJA UM PARCEIRO</button>
    </div>
  </div>
</div>

<div class="second-section-partnership">
  <div class="d-flex justify-content-between mt-5 container mb-3">
    <div class="mobile-arrow">
      <%= image_tag 'arrows.png', class:"mobile-arrow" %>
    </div>
    <div class="align-self-center">
      <h3>DIFERENCIAIS <span class="text-success">NUFLOW</span></h3>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card bg-dark h-100">
          <div class="card-body text-center d-flex align-items-center">
            <div>
              <h3 class="text-success">AUTONOMIA PARA FAZER SUA GESTÃO</h3>
              <p class="text-white">Você com o controle dos seus eventos e espaços do início ao fim. Crie, venda, acompanhe e gerencie.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark h-100">
          <div class="card-body text-center d-flex align-items-center">
            <div>
              <h3 class="text-success">GESTÃO DE ACESSOS FACILITADA</h3>
              <p class="text-white">Você garante a entrada do seu cliente de forma prática com leitura de QR Code e tem acesso à lista de participantes com atualizações em tempo real.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark h-100">
          <div class="card-body text-center d-flex align-items-center">
            <div>
              <h3 class="text-success">OBTENHA DADOS VALIOSOS</h3>
              <p class="text-white">Das vendas, participantes, acessos e campos personalizados: você coleta e analisa todas informações que quiser.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "VER TODOS OS EVENTOS", events_path, class:"btn btn-success my-5" %>
  </div>
</div>

<div class="third-section-partnership">
  <div class="container">
    <h2>CADASTRE SEU <span class="text-success">BIKE PARK</span></h2>
    <p>Obtenha todos os recursos necessários para sua pista, bike park ou outro espaço em uma única plataforma:</p>
    <div class="container pt-3">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100 bg-opacity-css">
            <div class="card-body d-flex align-items-center">
              <div>
                <h3 class="text-success text-center">Agendamentos</h3>
                <p class="mb-0 text-white">Organize e ofereça os acessos ao seu espaço com facilidade:</p>
                <ul class="text-white">
                  <li>Organize seus agendamentos por dia e horário.</li>
                  <li>Você cria quantos agendamentos quiser por dia, de forma recorrente, sem ter que criá-los toda semana. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-opacity-css">
            <div class="card-body d-flex align-items-center">
              <div>
                <h3 class="text-success text-center">Mensalidades</h3>
                <p class="mb-0 text-white">Ofereça planos de mensalidade e não se preocupe com a operação, é tudo de forma automática!</p>
                <ul class="text-white">
                  <li>As cobranças são feitas de forma recorrente pelo sistema.</li>
                  <li>A gestão de acessos é integrada, garantindo praticidade para você e seus clientes.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= link_to "CADASTRE SEU BIKE PARK", events_path, class:"btn btn-success my-5" %>
      </div>
    </div>
  </div>
</div>

<div class="fourth-section-partnership">
  <div class="d-flex justify-content-between mt-5 container mb-3">
    <div class="mobile-arrow">
      <%= image_tag 'arrows.png', class:"mobile-arrow" %>
    </div>
    <div class="align-self-center">
      <h3>FAÇA A GESTÃO COMPLETA DO <span class="text-success">SEU EVENTO</span></h3>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card bg-dark h-100">
          <div class="card-body text-center d-flex align-items-center">
            <div>
              <h3 class="text-success">INGRESSOS</h3>
              <p class="text-white">Você com o controle dos seus eventos e espaços do início ao fim. Crie, venda, acompanhe e gerencie.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark h-100">
          <div class="card-body text-center d-flex align-items-center">
            <div>
              <h3 class="text-success">RECURSOS PARA COMPETIÇÕES</h3>
              <p class="text-white">Você garante a entrada do seu cliente de forma prática com leitura de QR Code e tem acesso à lista de participantes com atualizações em tempo real.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark h-100">
          <div class="card-body text-center d-flex align-items-center">
            <div>
              <h3 class="text-success">COMUNICADOS</h3>
              <p class="text-white">Das vendas, participantes, acessos e campos personalizados: você coleta e analisa todas informações que quiser.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= link_to "VER TODOS OS EVENTOS", events_path, class:"btn btn-success my-5" %>
    </div>
  </div>
</div>
