<% if @day_use.photo.attached? %>
  <% if mobile_device? %>
    <%= cl_image_tag @day_use.photo.key, crop: :fill, class:"mw-100" %>   
  <% else %>
    <div class="flex center around mt-5">
        <div class="event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('<%= cl_image_path @day_use.photo.key, crop: :fit %>')">
      </div>
    </div>
  <% end %>
<% end %>
<div class="page-wrapper">
  <div class="text-center">
    <h1 class="title"><%= @day_use.name %></h1>

    <p class="fs-18 text-white">
      <%= @day_use.description %>
    </p>


    <div class="spacer-50"></div>
  </div>

  <% if @day_use.day_use_packages.present? %>
    <div class="info-text p-4 my-4 br-8">
      <p class="text-white m-0"><i class="fa fa-info-circle me-3"></i>Pacotes disponíveis:</p>
      <ul>
        <% @day_use.day_use_packages.each do |day_use_package| %>
          <li class="m-0"><%= day_use_package.description %></li>
        <% end %>
      </ul>
      <p class="text-white m-0">Observação: pacotes de desconto não são aplicados quando você já está utilizando um cupom de desconto.</p>
    </div>
  <% end %>

  <react data-component="DayUseOrderItems" 
    data-day-use="<%= @day_use.to_json %>" 
    data-fee-percentage="<%= @day_use.absorb_fee ? 0 : @day_use.fee_percentage %>"></react>
</div>
