<div class="page-wrapper">
  <h1 class="title"><%= @day_use.name %></h1>
  <% if @day_use.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @day_use.photo.key, height: 300, crop: :fill %>')">
    </div>
  <% end %>

  <p class="fs-18 text-white">
    <%= @day_use.description %>
  </p>
  
  <%= simple_form_for(@order) do |f| %>
    <react data-component="DayUseOrderItems" 
      data-day-use="<%= @day_use.to_json %>" 
      data-day-use-schedule="<%= @day_use_schedule.to_json %>"
      data-day-use-schedule-name="<%= @day_use_schedule_name.to_json %>"></react>

    <%= f.submit "Comprar ingressos", class: "btn btn-primary mt-5 w-100 p-3" %>
  <% end %>
</div>
