<% if @day_use.photo.attached? %>
  <% if mobile_device? %>
    <%= cl_image_tag @day_use.photo.key, crop: :fill, class:"mw-100" %>
  <% else %>
    <div class="flex center around mt-5">
        <div class="event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('<%= cl_image_path @day_use.photo.key, crop: :fit %>')">
      </div>
    </div>
  <% end %>
<% end %>
<div class="page-wrapper">
  <h1 class="title align-middle mb-0 text-success "><%= @day_use.name %></h1>
  <div class="">
    <p class="share-button border border-success border-2 text-success p-3 flex justify-content-center align-items-center clickable" id="copy-paste" data-copy-text="<%= request.url %>"><i class="fa fa-share-alt me-3"></i></i>Compartilhar</p>
  </div>
  <script>
    document.querySelector("#copy-paste").addEventListener("click", (e) => {
      navigator.clipboard.writeText(e.target.dataset.copyText).then((error) => {
        e.target.innerHTML = "Link copiado!"
      })
    });
  </script>
  <p class="fs-18 text-white">
    <%= @day_use.description %>
  </p>
  <div class="spacer-50"></div>
  

  <% if @day_use.day_use_packages.active.present? %>
    <div class="info-text p-4 my-4 br-8">
      <p class="text-white m-0"><i class="fa fa-info-circle me-3"></i>Pacotes disponíveis:</p>
      <ul>
        <% @day_use.day_use_packages.active.each do |day_use_package| %>
          <li class="m-0"><%= day_use_package.description %></li>
        <% end %>
      </ul>
      <p class="text-white m-0">Observação: pacotes de desconto não são aplicados quando você já está utilizando um cupom de desconto.</p>
    </div>
  <% end %>

  <div class="mb-5" data-bs-spy="scroll" data-bs-target="#scroll-btn" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <div  id="buy-section">
      <react data-component="DayUseOrderItems"
        data-day-use="<%= @day_use.to_json %>"
        data-fee-percentage="<%= @day_use.absorb_fee ? 0 : @day_use.fee_percentage %>"></react>
    </div>
  </div>
  <div class="third-section-event-show container bg-dark p-5 text-center text-md-start mt-5">
    <div class="mb-3">
      <h3>SOBRE O ORGANIZADOR</h3>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <%= cl_image_tag @day_use.partner.logo.key, crop: :fit , class: "br-50 mx-auto d-block mb-5 w-100"%>
      </div>
      <div class="col-sm-12 col-md-10">
        <div>
          <%= link_to partner_path(@day_use.partner) do %>
            <h3><span class="text-success clickable"><%= @day_use.partner.name %></span></h3>
          <% end %>
        </div>
        <div>
          <p class="py-2 page-desktop"><%= @day_use.partner.about.truncate(400) %></p>
          <p class="py-2 page-mobile"><%= @day_use.partner.about.truncate(200) %></p>
        </div>
        <div class="text-center text-md-start">
          <button class="btn btn-success btn-lg me-0 me-md-5" data-bs-toggle="modal" data-bs-target="#producer-modal">FALE COM O ORGANIZADOR</button>
          <%= link_to partner_path(@day_use.partner) do %>
            <p class="btn btn-dark btn-lg mt-3 mt-md-0 m-0">VISITAR PÁGINA DO ORGANIZADOR</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="producer-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content bg-darker">
      <div class="modal-body bg-darker p-5">
        <h1 class="text-success">Fale com o organizador</h1>
        <p class="text-white">O organizador nos disponibilizou os seguintes contatos: </p>
          <% if @day_use.partner.contact_email.present? %>
            <p class="text-white"><i class="fas fa-envelope pe-4"></i><%= @day_use.partner.contact_email %></p>
          <% end %>
          <% if @day_use.partner.contact_phone_1.present? %>
            <p class="text-white"><i class="fas fa-phone pe-4"></i><%= @day_use.partner.contact_phone_1 %></p>
          <% end %>
          <% if @day_use.partner.contact_phone_2.present? %>
            <p class="text-white"><i class="fas fa-phone pe-4"></i><%= @day_use.partner.contact_phone_2 %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div id="scroll-btn" class="float-buyer-btn text-success align-middle">
  <a class="border border-success border-2 text-center bg-success text-white m-auto w-50 d-block p-2 <%= mobile_device? ? 'h-75 mt-2 mx-auto' : 'h-100 m-auto' %>" href="#buy-section" onclick="scrollToTarget()">
    COMPRAR INGRESSO
  </a>
</div>

<script>
  let isButtonClicked = false;
  window.onscroll = function() { scrollFunction() };

  function scrollFunction() {
    let btn = document.getElementById("scroll-btn");
    let targetDiv = document.getElementById("buy-section");
    let scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
    let divTopPosition = targetDiv.getBoundingClientRect().top;
    let divBottomPosition = targetDiv.getBoundingClientRect().bottom;

    if (isButtonClicked) {
      btn.style.opacity = "0";
    } else if (
      (divTopPosition < window.innerHeight && divTopPosition > 0) ||
      (divBottomPosition > 0 && divBottomPosition < window.innerHeight)
    ) {
      btn.style.opacity = "0";
    } else {
      btn.style.opacity = "1";
    }
  }

  function scrollToTop() {
    document.documentElement.scrollTop = 0;
    document.body.scrollTop = 0;
  }

  function scrollToTarget() {
    isButtonClicked = true;
    let targetDiv = document.getElementById("buy-section");
    targetDiv.scrollIntoView({ behavior: 'smooth' });

    setTimeout(function() {
      isButtonClicked = false;
    }, 3000);
  }
</script>
