<div class="page-wrapper">
  <h1 class="title"><%= @day_use.name %></h1>
  <% if @day_use.photo.attached? %>
    <div class="event-photo my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @day_use.photo.key, height: 300, crop: :fill %>')">
    </div>
  <% end %>

  <p class="fs-18 text-white">
    <%= @day_use.description %>
  </p>
  
  <% if @day_use_schedule.open? %>
    <%= simple_form_for(@order) do |f| %>
      <react data-component="DayUseOrderItems" 
        data-day-use="<%= @day_use.to_json %>" 
        data-day-use-schedule="<%= @day_use_schedule.to_json %>"
        data-open-slots="<%= @day_use_schedule.open_slots_for_date(@date).to_json %>"
        data-pass-types="<%= @day_use_schedule.day_use_schedule_pass_types.to_json %>"
        data-date="<%= @date.to_json %>"
        data-fee-percentage="<%= @day_use.partner.fee_percentage %>"></react>

      <%= f.submit "Comprar ingressos", class: "btn btn-success mt-5 w-100 p-3" %>
    <% end %>
  <% else %>
    <p class="danger-text p-4 br-8">Nenhum ingresso disponível para essa data.</p>
  <% end %>
</div>
