<div class="page-wrapper vh-100 w-100">
  <div class="h-100 w-100">
    <div class="flex center around h-100">
      <div class="h-80 qrcode-wrapper flex column center around">
        <div>
          <h1 class="text-center mb-2 fw-700 text-dark"><%= @qrcode.event.partner.name %></h1>
          <h1 class="text-center mb-2 fw-700 text-dark"><%= @qrcode.event.name %></h1>
          <h3 class="text-center mb-5 text-dark"><%= @qrcode.batch.name %></h3>
        </div>
        <div class="mx-auto text-center">
          <%= @qrcode.svg_source.html_safe %>
        </div>
        <div>
          <p class="my-3 text-center mt-5 text-dark"><%= @qrcode.identifier %></p>
        </div>
      </div>
    </div>
  </div>
</div>
