<% content_for(:html_title) { 'NuflowPass Dashboard' } %>
<div class="page-wrapper"> 
  <h2 class="title">Parceiros</h2>
  <%= link_to admin_partners_path do %>
    <p class="btn btn-success w-100">Ver parceiros</p>
  <% end %>

  <h2 class="title">Entidades</h2>
    <table>
    <thead>
      <tr>
        <th scope="col" class="w-10">Tipo</th>
        <th scope="col" class="w-10">Parceiro</th>
        <th scope="col">Nome</th>
        <th scope="col" class="w-15">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @entities_to_approve.each do |entity| %>
        <tr>
          <td data-label="Tipo">
            <p class="text-white fw-700 m-0">
              <% case entity.class.name %>
              <% when "Event" %>
                Evento
              <% when "DayUse" %>
                DayUse
              <% when "Membership" %>
                Mensalidade
              <% else %>
                -
              <% end %>
            </p>
          </td>
          <td data-label="Parceiro">
            <p class="text-white fw-700 m-0">
              <%= entity.partner.name %>
            </p>
          </td>
          <td data-label="Nome">
            <p class="text-white fw-700 m-0 f-30"><%= entity.name %></p>
          </td>
          <td data-label="Status">
            <% if entity.deactivated_at.present? %>
              <p class="text-white p-2 br-8 bg-danger fw-700 m-0 f-30">Desativado</p>
            <% elsif entity.approved_at.present? %>
              <p class="text-white p-2 br-8 bg-success fw-700 m-0 f-30">Aprovado</p>
            <% elsif entity.approved_at.blank? %>
              <p class="text-white p-2 br-8 bg-warning fw-700 m-0 f-30">Pendente aprovação</p>
            <% end %>
          </td>
          <td data-label="Ações">
            <%= link_to edit_entity_path(entity) do %>
              <p class="btn btn-success m-0 px-5">Editar</p>
            <% end %>

            <%= link_to admin_approve_form_path(entity_class: entity.class.table_name, entity_id: entity.id) do %>
              <p class="btn btn-success m-0 px-5">Aprovar</p>
            <% end %>

            <%= link_to partner_admin_entity_toggle_activity_path(entity), method: :patch do %>
              <p class="btn btn-danger m-0 px-5">Desativar</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
