<% content_for(:html_title) { 'NuflowPass Dashboard' } %>
<div class="page-wrapper">
  <div class="p-1 bg-darker d-flex justify-content-center mx-auto d-block">
    <div class="bg-white p-4">
      <%= @svg.html_safe %>
    </div>
  </div>
  <h1>Dashboard</h1>
  <%= link_to edit_partner_admin_partner_path(current_user.partner.slug), class: "col-12 w-100" do %>
    <p class="btn btn-primary my-3 px-4">Editar cadastro</p>
  <% end %>

  <div class="spacer-100"></div>

  <%= link_to pass_scanner_path do %>
    <p class="btn btn-primary m-0 w-100 p-5">Ler QRcodes</p>
  <% end %>

  <h2>Meus eventos</h2>

  <% @events.each do |event| %>
    <div class="event bg-dark w-100 p-4 br-8 text-white flex center mb-2 row">
      <p class="text-white f-20 m-0 col-12 col-md-2 mb-2"><%= event.name %></p>
      
      <%= link_to partner_admin_event_path(event), class: "col-12 col-md-4" do %>
        <p class="btn btn-primary m-0">Ver detalhes do evento</p>
      <% end %>
    </div>
  <% end %> 

  <h2 class="title">Criar eventos</h2>

  <%= link_to new_partner_admin_event_path, class: "col-12 w-100" do %>
    <p class="btn btn-primary m-0 w-100 my-3">Criar evento</p>
  <% end %>

  <div class="spacer-100"></div>

  <h2>Meus day uses</h2>
  <% @day_uses.each do |day_use| %>
    <div class="day_use bg-dark w-100 p-4 br-8 text-white flex center mb-2 row">
      <p class="text-white f-20 m-0 col-12 col-md-2 mb-2"><%= day_use.name %></p>

      <%= link_to partner_admin_day_use_path(day_use), class: "col-12 col-md-4" do %>
        <p class="btn btn-primary m-0">Ver detalhes do Day Use</p>
      <% end %>
    </div>
  <% end %> 

  <h2 class="title">Criar day uses</h2>

  <%= link_to new_partner_admin_day_use_path, class: "col-12 w-100" do %>
    <p class="btn btn-primary m-0 w-100 my-3">Criar Day Use</p>
  <% end %>

  <div class="spacer-100"></div>

  <h2>Assinaturas</h2>
  <% @memberships.each do |membership| %>
    <div class="membership bg-dark w-100 p-4 br-8 text-white center mb-2 flex center">
      <div class="f-40">
        <p class="text-white mb-2 fw-700"><%= membership.name %></p>
      </div>
      <div class="f-40">
        <p class="text-white f-20 m-0"><%= display_price(membership.price_in_cents / 100) %></p>
        <p class="text-white f-20 m-0"><%= membership.users.count %> mensalistas</p>
      </div>
      <div class="f-20">
        <%= link_to edit_partner_admin_membership_path(membership.id), class: "" do %>
          <p class="btn btn-primary m-0">Editar</p>
        <% end %>
      </div>
    </div>
  <% end %> 
  <%= link_to partner_admin_memberships_path, class: "w-100" do %>
    <p class="btn btn-primary px-5 w-100 my-3">Listagem de membros</p>
  <% end %>
</div>
  