<% content_for(:html_title) { 'NuflowPass Dashboard' } %>
<div class="page-wrapper">
  <h1>Dashboard</h1>

  <%= link_to destroy_user_session_path, method: "delete" do %>
    <p class="btn btn-danger w-100">Logout</p>
  <% end %>

  <h2>Meus Passes</h2>

  <div class="p-5">
    <% @passes.each do |pass| %>
      <div class="pass bg-dark w-100 p-4 br-8 text-white row around flex center mb-2">
        <div class="f-20 col-12 col-md-4">
          <p class="text-white p-0 mb-0 fw-700"><%= pass.name %></p>
          <p class="text-white p-0 mb-0"><%= pass.holder_name %></p>
          <p class="text-white p-0 mb-0"><%= pass.partner.name %></p>
        </div>
        <%= link_to pass_path(pass), class: "col-12 col-md-3 p-0 mb-2" do %>
          <p class="btn btn-primary m-0 w-100">Ver</p>
        <% end %>
        <p class="<%= pass.status[:class] %> text-white p-3 m-0 col-12 col-md-4 text-center mb-2"><%= pass.status[:label] %></p>
      </div>
    <% end %>  
  </div>

  <%= link_to partners_path do %>
    <p class="btn btn-primary w-100">Ver parceiros</p>
  <% end %>
</div>
