<% content_for(:html_title) { 'NuflowPass Dashboard' } %>
<div class="page-wrapper">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link <%= 'show active' if params[:current_tab].blank? || params[:current_tab] == 'nav-events' %>" id="nav-events-tab" data-bs-toggle="tab" data-bs-target="#nav-events" type="button" role="tab" aria-controls="nav-events" aria-selected="true">MEUS PASSES</button>
      <button class="nav-link <%= 'show active' if params[:current_tab] == 'nav-memberships' %>" id="nav-memberships-tab" data-bs-toggle="tab" data-bs-target="#nav-memberships" type="button" role="tab" aria-controls="nav-memberships" aria-selected="true">MINHAS ASSINATURAS</button>
      <button class="nav-link <%= 'show active' if params[:current_tab] == 'nav-acc-info' %>" id="nav-acc-info-tab" data-bs-toggle="tab" data-bs-target="#nav-acc-info" type="button" role="tab" aria-controls="nav-acc-info" aria-selected="false">INFORMAÇÕES DA CONTA</button>
      <button class="nav-link <%= 'show active' if params[:current_tab] == 'nav-orders' %>" id="nav-orders-tab" data-bs-toggle="tab" data-bs-target="#nav-orders" type="button" role="tab" aria-controls="nav-orders" aria-selected="false">MEUS PEDIDOS</button>
      <button class="nav-link <%= 'show active' if params[:current_tab] == 'nav-payment-methods' %>" id="nav-payment-methods-tab" data-bs-toggle="tab" data-bs-target="#nav-payment-methods" type="button" role="tab" aria-controls="nav-payment-methods" aria-selected="false">MÉTODOS DE PAGAMENTO</button>
    </div>
  </nav>

  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade <%= 'show active' if params[:current_tab].blank? || params[:current_tab] == 'nav-events' %>" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
      <% if mobile_device? %>
        <% @passes.each do |pass| %>
          <div class="bg-dark mb-4 p-4 br-8 w-100">
            <p><%= pass.name %></p>
            <%= link_to "Acessar", pass_path(pass), class: "btn btn-success w-100 pe-3" %>
          </div>
        <% end %>
        <% if @passes.blank? %>
          <p class="text-white">Você ainda não comprou nenhum ingresso.</p>
        <% end %>
      <% else %>
        <div class="table-responsive">
          <table class="table align-middle table-dark table-borderless">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Titularidade</th>
                <th scope="col">Data de início</th>
                <th scope="col">Data de término</th>
                <th scope="col">Organizador</th>
                <th scope="col">Situação</th>
              </tr>
            </thead>
            <tbody class="">
              <% @passes.each do |pass| %>
                <tr>
                  <td data-label="Nome"><%= pass.name %></td>
                  <td data-label="Titularidade"><%= pass.holder_name %></td>
                  <td data-label="Início"><%= pass.kind != "membership" ? pass.start_time.strftime("%d/%m/%Y - %H:%M") : "-" %></td>
                  <td data-label="Fim"><%= pass.kind != "membership" ? pass.end_time.strftime("%d/%m/%Y - %H:%M") : "-" %></td>
                  <td data-label="Organizador"><%= pass.partner.name %></td>
                  <td data-label="Status" class="<%= pass.status[:class] %>"><%= pass.status[:label] %></td>
                  <td>
                    <%= link_to "Ver", pass_path(pass), class: "text-success pe-3" %>
                    <%= link_to "Baixar", pass_download_path(identifier: pass.identifier, download: true), target: :_blank, class: "text-success pe-3" %>
                    <% if pass.related_entity.class == Membership %>
                      <%= link_to "Cancelar", user_membership_path(pass.user_membership), data: { confirm: "Tem certeza que deseja finalizar a inscrição? Para reinscrever, você terá que pagar novamente" }, method: :delete, class: "text-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @passes.blank? %>
                <tr>
                  <td colspan="6" class="text-white">Você ainda não comprou nenhum ingresso.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade <%= 'show active' if params[:current_tab] == 'nav-memberships' %>" id="nav-memberships" role="tabpanel" aria-labelledby="nav-memberships-tab">
      <% if mobile_device? %>
        <% @membership_passes.each do |pass| %>
          <div class="bg-dark mb-4 p-4 br-8 w-100">
            <p><%= pass.name %></p>
            <%= link_to "Acessar", pass_path(pass), class: "btn btn-success w-100 pe-3" %>
          </div>
        <% end %>
        <% if @membership_passes.blank? %>
          <p class="text-white">Você não tem nenhuma assinatura ativa.</p>
        <% end %>
      <% else %>
        <div class="table-responsive">
          <table class="table align-middle table-dark table-borderless">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Titularidade</th>
                <th scope="col">Data de início</th>
                <th scope="col">Data de término</th>
                <th scope="col">Organizador</th>
                <th scope="col">Situação</th>
              </tr>
            </thead>
            <tbody class="">
              <% @membership_passes.each do |pass| %>
                <tr>
                  <td data-label="Nome"><%= pass.name %></td>
                  <td data-label="Titularidade"><%= pass.holder_name %></td>
                  <td data-label="Início"><%= pass.kind != "membership" ? pass.start_time.strftime("%d/%m/%Y - %H:%M") : "-" %></td>
                  <td data-label="Fim"><%= pass.kind != "membership" ? pass.end_time.strftime("%d/%m/%Y - %H:%M") : "-" %></td>
                  <td data-label="Organizador"><%= pass.partner.name %></td>
                  <td data-label="Status" class="<%= pass.status[:class] %>"><%= pass.status[:label] %></td>
                  <td>
                    <%= link_to "Ver", pass_path(pass), class: "text-success pe-3" %>
                    <%= link_to "Baixar", pass_download_path(identifier: pass.identifier, download: true), target: :_blank, class: "text-success pe-3" %>
                    <% if pass.related_entity.class == Membership %>
                      <%= link_to "Cancelar", user_membership_path(pass.user_membership), data: { confirm: "Tem certeza que deseja finalizar a inscrição? Para reinscrever, você terá que pagar novamente" }, method: :delete, class: "text-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @membership_passes.blank? %>
                <tr>
                  <td colspan="6" class="text-white">Você ainda não tem nenhuma assinatura ativa.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade <%= 'show active' if params[:current_tab] == 'nav-acc-info' %>" id="nav-acc-info" role="tabpanel" aria-labelledby="nav-acc-info-tab">
      <div class="text-center">
        
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 300, width: 300, crop: :fit %>
        <% end %>

        <% if !current_user.has_completed_profile? %>
          <p class="m-0 info-text p-4 br-8 mb-3"><i class="fa fa-info-circle mx-3"></i>Os seguintes campos estão faltando no seu cadastro: <%= current_user.missing_fields_on_profile.map { |field| User.human_attribute_name(field) }.to_sentence %></p>
        <% end %>

        <%= simple_form_for @profile, :url => profiles_path, :method => :patch do |f| %>
          <% if params[:return_url].present? %>
            <input type="hidden" name="return_url" value="<%= params[:return_url] %>">
          <% end %>

          <%= f.input :name %>
          <%= f.input :document_number, label: "Número de CPF", input_html: { class: "mask-cpf" } %>
          <%= f.input :phone_number, label: "Telefone", input_html: { class: "mask-phone" } %>
          <%= f.input :cep, label: "CEP", input_html: { class: "mask-cep" } %>

          <%= f.submit "Confirmar dados", class: "btn btn-success mt-5 text-center" %>
        <% end %>
      </div>
    
    </div>

    <div class="tab-pane fade <%= 'show active' if params[:current_tab] == 'nav-orders' %>" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">
      <table class="table align-middle table-dark table-borderless">
        <thead>
          <tr>
            <th scope="col">Criado em</th>
            <th scope="col">Parceiro</th>
            <th scope="col">Entidade</th>
            <th scope="col">Número de items</th>
            <th scope="col">Valor</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="">
          <% @orders.each do |order| %>
            <tr>
              <td data-label="Data"><%= order.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
              <td data-label="Parceiro"><%= order.related_partner.name %></td>
              <td data-label="Entidade"><%= order.related_entity.name %></td>
              <td data-label="Número de items"><%= order.order_items.count %></td>
              <td data-label="Valor"><%= display_price(order.total_in_cents) %></td>
              <td data-label="Status"><p class="mb-0 <%= order.status_display[:class] %>"><%= order.status_display[:label] %></p></td>
              <td data-label="Ações">
                <% if order.status == "paid" && order.invoice_url.present? %>
                  <%= link_to "Ver invoice", order.invoice_url, target: :_blank, class: "text-success pe-3" %>
                <% elsif (order.status == "pending" || order.status.blank?) && !order.has_items_with_start_date_on_past? %>
                  <%= link_to "Continuar pedido", order_path(order), class: "text-success pe-3" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if @orders.blank? %>
            <tr>
              <td colspan="6" class="text-white">Você ainda não fez nenhum pedido.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade <%= 'show active' if params[:current_tab] == 'nav-payment-methods' %>" id="nav-payment-methods" role="tabpanel" aria-labelledby="nav-payment-methods-tab">
      <%= link_to payment_methods_path do %>
        <p class="m-0 btn btn-success">Ver meus métodos de pagamento</p>
      <% end %>
    </div>
  </div>
</div>
