<div class="page-wrapper">
  <h1 class="title">Gestão de administrador</h1>

  <div class="bg-dark p-4 br-8 mb-5">
    <p class="text-white m-2"><span class="fw-700 pe-3">Tipo:</span>
      <% case @entity.class.name %>
      <% when "Event" %>
        Evento
      <% when "DayUse" %>
        DayUse
      <% when "Membership" %>
        Mensalidade
      <% else %>
        -
      <% end %>
    </p>
    <p class="text-white m-2"><span class="fw-700 pe-3">Parceiro:</span><%= @entity.partner.name %></p>
    <p class="text-white m-2"><span class="fw-700 pe-3">Nome:</span><%= @entity.name %></p>

    <% case @entity.class.name %>
    <% when "Event" %>
      <%= link_to edit_partner_admin_event_path(@entity) do %>
        <p class="btn btn-success m-0 px-5">Editar evento</p>
      <% end %>
    <% when "DayUse" %>
      <%= link_to edit_partner_admin_day_use_path(@entity) do %>
        <p class="btn btn-success m-0 px-5">Editar Day Use</p>
      <% end %>
    <% when "Membership" %>
      <%= link_to edit_partner_admin_membership_path(@entity) do %>
        <p class="btn btn-success m-0 px-5">Editar Mensalidade</p>
      <% end %>
    <% else %>
      -
    <% end %>
  </div>

  <% if @entity.respond_to? :group_buy %>
    <div class="bg-dark p-4 br-8">
      <% if @entity.group_buy_code.present? %>
        <p class="success-text"><i class="fa fa-check-circle me-3 px-4"></i>Reservado para grupo</p>
        <p class="text-white">Link de compra em grupo: <a href="<%= event_url(@entity, group_buy_code: @entity.group_buy_code) %>" target="_blank"><%= event_url(@entity, group_buy_code: @entity.group_buy_code) %></a></p>

        <% original_pass = @entity.passes.order(:created_at).find_by(group_buy_code: @entity.group_buy_code) %>
        <p class="text-white">Comprado em: <%= original_pass.created_at.strftime("%d/%m/%Y - %H:%M") %></p>
        <p class="text-white">ID da compra no Iugu: <%= original_pass.order_item.order.invoice_id %></p>
        <p class="text-white">Dados do comprador</p>
        <% original_pass.question_answers.each do |answer| %>
          <p class="text-white"><%= answer.question.prompt %>: <%= answer.value %></p>
        <% end %>

        <%= link_to partner_admin_delete_group_path(@entity), method: :delete, data: { confirm: "Tem certeza que deseja deletar esse passe e desfazer o grupo? Você já fez o estorno do pagamento para o passe?" } do %>
          <p class="btn btn-danger text-white">Desfazer grupo</p>
        <% end %>
      
      <% elsif @entity.group_buy %>
        <p class="text-white mb-0">Compra em grupo: <span class="text-success">Ativa</span></p>
      <% else %>
        <p class="text-white mb-0">Compra em grupo: <span class="text-danger">Desativada</span></p>
      <% end %>
    </div>
  <% end %>

  <div class="spacer-50"></div>

  <%= simple_form_for(:approve, url: "/admin/approve/#{@entity.class.table_name}/#{@entity.id}", method: :patch) do |f| %>
    <%= f.input :fee_percentage, label: "Taxa do ingresso (em %)", input_html: { class: "mb-4", value: @entity.fee_percentage || @entity.partner.fee_percentage } %>
    <%= f.input :absorb_fee, as: :boolean, label: "O organizador vai absorver a taxa?", input_html: { checked: @entity.absorb_fee } %>
    <% if @entity.respond_to? :allow_installments %>
      <%= f.input :allow_installments, as: :boolean, label: "Liberar compra parcelada", input_html: { checked: @entity.allow_installments } %>
    <% end %>
    <p class="gs-190">Absorver a taxa: o cliente final não paga a taxa, e sim o organizador absorve ela e recebe um repasse com a taxa descontada.</p>
    <% if @entity.respond_to? :hide_from_events_index %>
      <%= f.input :hide_from_events_index, as: :boolean, label: "Esconder da lista de eventos", input_html: { checked: @entity.hide_from_events_index } %>
    <% end %>


    <%= f.submit "Aprovar", class: "btn btn-success mt-5 w-100" %>
  <% end %>
</div>
