<div class="page-wrapper">
  <h1 class="title">Respostas para os passes</h1>

  <p class="text-white">O produtor do evento pede para que você responda as seguintes perguntas para comprar seus ingressos:</p>

  <% if @errors %>
    <p class="p-3 bg-danger br-8 text-white">Alguma resposta não foi preenchida corretamente. Favor rever os erros abaixo:</p>
  <% end %>

  <% if  @user.present? %>
    <div class="d-flex mb-2">
      <input type="checkbox" id="fillUserInfoCheckbox" />
      <p id="user-text-infos" class="mb-0 ms-2">Preencher 1º ingresso com meus dados </p>
    </div>
  <% end %>

  <%= simple_form_for([@order, @question_answer]) do |f| %>
    <% @order_items.each_with_index do |order_item, index| %>
      <div class="mb-5 p-4 bg-dark">
        <p><span class="fw-700">Ingresso #<%= index + 1 %>:</span> <%= order_item.full_description %></p>

        <% order_item.questions.active.each_with_index do |question, index| %>
          <p class="mb-3"><%= question.prompt %></p>
          <div class="my-2">
            <input
              type="hidden"
              name="user_answers[][order_item_id]"
              value="<%= order_item.id %>"
              class="w-100"
            />
            <input
              type="hidden"
              name="user_answers[][question_id]"
              value="<%= question.id %>"
              class="w-100"
            />
            <input
              type="hidden"
              name="user_answers[][optional]"
              value="<%= question.optional %>"
              class="w-100"
            />
            <% if question.multiple_choice? %>
              <select
                name="user_answers[][value]"
                value="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value %>"
                class="w-100"
              >
                <option value=""></option>
                <% question.options.each do |option| %>
                  <option value="<%= option %>" <%= "selected" if @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value == option %>><%= option %></option>
                <% end %>
              </select>
            <% else %>
              <% if ["Nome completo", "CPF", "CEP", "Telefone"].include?(question.prompt) %>
                <input
                  type="text"
                  name="user_answers[][value]"
                  data-fill-inner-html="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value || "" %>"
                  class="w-100 form-control"
                  id="<%= question.prompt %>"
                />
              <% else %>
                <textarea
                  class="form-control my-2 f-60"
                  type="text"
                  name="user_answers[][value]"
                  data-fill-inner-html="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value || "" %>"
                  placeholder="Sua resposta..."></textarea>
              <% end %>
              <% if @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.errors&.present? %>
                <p class="text-danger"><%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }.errors.full_messages.first %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="text-center">
      <%= f.submit "Enviar respostas", class: "btn btn-success mt-5", onclick: "clearLocalStorage()" %>
    </div>

  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('fillUserInfoCheckbox').addEventListener('change', function() {
      if (this && this.checked) {
        document.getElementById('Nome completo').value = '<%= @user.name %>';
        document.getElementById('CPF').value = '<%= @user.document_number %>';
        document.getElementById('CEP').value = '<%= @user.cep %>';
        document.getElementById('Telefone').value = '<%= @user.phone_number %>';
        if (document.getElementById('user-text-infos')) document.getElementById('user-text-infos').classList.add("text-success") ;

      } else {
        document.getElementById('Nome completo').value = '';
        document.getElementById('CPF').value = '';
        document.getElementById('CEP').value = '';
        document.getElementById('Telefone').value = '';
        if (document.getElementById('user-text-infos')) document.getElementById('user-text-infos').classList.remove("text-success");
      }
    });
  });

  function clearLocalStorage() {
    localStorage.removeItem("selected_tickets");
    '<% @order.order_items.each do |order_item| %>'
      localStorage.removeItem("selected_tickets_<%= order_item.event_batch_id %>");
    '<% end %>'
  }
</script>
