<div class="page-wrapper">
  <h1 class="title">Respostas para os passes</h1>

  <p class="text-white">O produtor do evento pede para que você responda as seguintes perguntas para comprar seus ingressos:</p>

  <% if @errors %>
    <p class="p-3 bg-danger br-8">Alguma resposta não foi preenchida corretamente. Favor rever os erros abaixo:</p>
  <% end %>

  <%= simple_form_for([@order, @question_answer]) do |f| %>
    <% @order_items.each_with_index do |order_item, index| %>
      <div class="mb-5 p-4 bg-dark">
        <p><span class="fw-700">Ingresso #<%= index + 1 %>:</span> <%= order_item.full_description %></p>

        <% order_item.questions.each_with_index do |question, index| %>
          <p class="mb-3">Pergunta <%= index + 1 %>: <%= question.prompt %></p>
          <div class="my-2">
            <input
              type="hidden"
              name="user_answers[][order_item_id]"
              value="<%= order_item.id %>"
              class="w-100"
            />
            <input
              type="hidden"
              name="user_answers[][question_id]"
              value="<%= question.id %>"
              class="w-100"
            />
            <input
              type="hidden"
              name="user_answers[][optional]"
              value="<%= question.optional %>"
              class="w-100"
            />
            <% if question.multiple_choice? %>
              <select
                name="user_answers[][value]"
                value="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value %>"
                class="w-100"
              >
                <% question.options.each do |option| %>
                  <option value="<%= option %>" <%= "selected" if @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value == option %>><%= option %></option>
                <% end %>
              </select>
            <% else %>
              <% if ["Nome completo", "CPF"].include?(question.prompt) %>
                <input
                  type="text"
                  name="user_answers[][value]"
                  data-fill-inner-html="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value || "" %>"
                  class="w-100"
                />
              <% else %>
                <textarea
                  class="form-control my-2 f-60"
                  type="text"
                  name="user_answers[][value]"
                  data-fill-inner-html="<%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.value || "" %>"
                  placeholder="Sua resposta..."></textarea>
              <% end %>
              <% if @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }&.errors&.present? %>
                <p class="text-danger"><%= @question_answers&.find { |qa| qa.order_item == order_item && qa.question == question }.errors.full_messages.first %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= f.submit "Enviar respostas", class: "btn btn-primary mt-5 w-100" %>

  <% end %>
</div>
