<div class="page-wrapper">
  <h1 class="title"><%= @membership.new_record? ? "Criar nova assinatura" : "Editar assinatura #{@membership.name}" %></h1>

  <%= simple_form_for([:partner_admin, @membership]) do |f| %>
    <%= f.input :name %>

    <p class="text-success fs-20 mb-0 mt-3" for="day_use_name">Descrição da assinatura</p>
    <%= f.rich_text_area :description, placeholder: "Descrição da assinatura..." %>
    
    <div class="spacer-30"></div>

    <p class="text-success fs-20 mb-0 mt-3" for="day_use_name">Curta descrição da assinatura</p>
    <%= f.rich_text_area :short_description, placeholder: "Curta descrição da assinatura..." %>

    <div class="spacer-30"></div>

    <p class="text-success fs-20 mb-0 mt-3" for="day_use_name">Termos de uso</p>
    <%= f.rich_text_area :terms_of_use, placeholder: "Termos de uso da assinatura..." %>

    <div class="spacer-30"></div>

    <%= f.input :price_in_cents, placeholder: "Preço da assinatura em centavos..." %>

    <%= f.input :recurrence_interval_in_months, placeholder: "Intervalo de recorrência em meses...", input_html: { min: 1 } %>

    <%= f.input :minimum_subscription_months, placeholder: "Mínimo de meses obrigatórios na inscrição", input_html: { min: 0 } %>

    <%= f.submit "Salvar", class: "btn btn-success mt-5 w-100" %>
  <% end %>
</div>
